<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': profesional.errors && profesional.touched}">
                <label class="control-label">Profesional</label>
                <div class="input-group">
                    <ng-template #rt let-r="result" let-t="term">
                        {{ r.apellido}} , {{ r.nombre }}
                    </ng-template>
                    <input id="typeahead-format" 
                        required
                        type="text" 
                        class="form-control"
                        #profesional="ngModel"
                        [(ngModel)]="selectedID" 
                        [ngbTypeahead]="search" 
                        [inputFormatter]="formatMatches"
                        [resultFormatter]="formatter"
                        [resultTemplate]="rt" />
                    <!-- <pre>Model: {{ selectedID | json }}</pre> -->
                </div>
                <small class="form-control-feedback"> Ingrese apellido y/o nombres. </small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                <label class="control-label">Desde</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaDesde"
                        required
                        [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker"
                        [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha desde es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': h.errors && h.touched}">
                <label class="control-label">Hasta</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaHasta"
                        required
                        [(ngModel)]="fecHasta" ngbDatepicker #h="ngbDatepicker"
                        [ngbTooltip]="(h.errors && (h.dirty || h.touched)) ? 'La fecha hasta es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-success m-r-10" (click)="obtener()">Obtener</button>
        </div>
    </div>
</div>
<div *ngIf="reporte" class="card-group m-b-30">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                    <h3 class="">{{ reporte.total }}</h3>
                    <h6 class="card-subtitle">Total de horas ofrecidas</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="info" [value]="100"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
                    <h3 class="">{{ reporte.pagas }}</h3>
                    <h6 class="card-subtitle">Horas pagas ofrecidas</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="success" [value]="getPPagas()"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
                    <h3 class="">{{ reporte.gratuitas }}</h3>
                    <h6 class="card-subtitle">Horas gratuitas ofrecidas</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="primary" [value]="getPGratuitas()"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>