.section-label {
    color: #E0E0E0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-group {
    display: inline-block;
}

.search {
    border-radius: 12px;
    border-color: #DCDCDC;
}

.search-btn {
    background-color: #00DDB4;
    color: white;
    border-radius: 0px 12px 12px 0px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

.custom-control-label {
    font-size: 80%;
}

/* Custom checkboxes */
/* The container */
.container-ckbx {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-ckbx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #A485D3;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-ckbx:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-ckbx input:checked~.checkmark {
    background-color: #A485D3;
    border-color: #A485D3;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-ckbx input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-ckbx .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #A485D3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*slider*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.25px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cbcbcb;
    border-radius: 0.6px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 15px;
    background: #00dcb2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.45px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d8d8d8;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cbcbcb;
    border-radius: 0.6px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 16px;
    width: 17px;
    border-radius: 15px;
    background: #00dcb2;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #bebebe;
    border: 0.2px solid #010101;
    border-radius: 1.2px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #cbcbcb;
    border: 0.2px solid #010101;
    border-radius: 1.2px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 16px;
    width: 17px;
    border-radius: 15px;
    background: #00dcb2;
    cursor: pointer;
    height: 1.5px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #cbcbcb;
}

input[type=range]:focus::-ms-fill-upper {
    background: #d8d8d8;
}

.container-profs {
    display: block;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

img {
    display: block !important;
    margin: auto !important;
}

.round {
    width: 55% !important;
    height: auto !important;
}

.row {
  display: flex; /* equal height of the children */
}

.col-md-4 {
  flex: 1;
}

.frame-prof {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    margin-inline: 40px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #ECECEC;
    background: #ffffff;

    -webkit-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    cursor: pointer;
}

.prof-nombre {
    font-weight: 600;
    color: #4F4F4F;
    font-size: 1.5em;
    margin-bottom: 0px !important;
}

.prof-titulo {
    text-transform: uppercase;
    color: #DEDEDE;
    font-size: 0.8em;
    margin-bottom: 0px !important;
}

.prof-especialidad {
    color: #16DEB9;
    font-size: 0.7em;
    margin-bottom: 0px !important;
}

hr {
    border-color: #A98ED6;
}

.prof-info {
    font-size: 0.6em;
    color: #A98ED6;
    display: flex;
    align-items: center;
}

.nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prof-microbio {
    color: #C4C4C4;
    font-size: 0.85em;

    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5em;
    min-height: 5em;

    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.agendar {
    display: block;
    font-size: 1em;
    font-weight: 800;
    font-family: 'QuicksandBold', sans-serif;;
    color: #ffffff !important;
    background-color: transparent;
    background-image: linear-gradient(90deg, #a6d1fc 0%, #01dcb3 100%);
    border-radius: 30px 30px 30px 30px;
    padding: 2% 12% 2% 12%;
    position: relative;
}

.frame-prof:hover {
    .prof-nombre {
        color: #16DEB9;
    }
}