<app-topbar></app-topbar>
<div class=".img-fluid background-image">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 background-selection">
                <div class="titulo">Tu <strong>especialista</strong> ideal.</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
        <div class="container-fluid row row-eq-height">
            <div class="col-sm-6 col-md-6">
                <div class="container-fluid frame-prof">
                    <img class="round" src="{{selectedEntity.fotourl}}" alt="user" width="90">
                    <p class="prof-nombre">{{selectedEntity.nombre}} {{selectedEntity.apellido}}</p>
                    <p class="prof-titulo">{{selectedEntity.titulo}}</p>
                    <p class="prof-especialidad">{{selectedEntity.especialidades}}</p>
                    <hr>
                        <div class="row">
                            <div class="col-sm prof-info">
                                <span class="nav-text"><i class="fa fa-pencil-square-o fa-2x"></i>&nbsp; {{selectedEntity.atendidos}} personas atendidas</span>
                            </div>
                            <div class="col-sm prof-info">
                                <span class="nav-text"><i class="fa fa-clock-o fa-2x"></i>&nbsp; disponible</span>
                            </div>
                        </div>
                    <hr>
                    <p class="prof-etiqueta1">Información del psicólogo</p>
                    <p class="prof-etiqueta2">Biografía</p>
                    <p class="prof-biografia">{{selectedEntity.microbiografia}}</p>
                    <p class="prof-etiqueta2">Formación</p>
                    <p class="prof-biografia">{{selectedEntity.universidad}}</p>
                    <p class="prof-biografia">{{selectedEntity.credenciales}}</p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-5">
                <div class="container-tallest">
                    <div class="spacer1"></div>
                    <p class="disponibilidad-titulo text-center">AGENDA AQUI SU CONSULTA:</p>
                    <div class="disponibilidad-frame">
                        <div class="text-center">
                            <div class="btn-group">
                                <a class="disponibilidad-nav-btn" href="javascript:void(0)" (click)="decrement()">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                                <a class="disponibilidad-nav-btn">&nbsp; {{ viewDate | calendarDate:('monthViewTitle'):locale }} &nbsp;</a>
                                <a class="disponibilidad-nav-btn" href="javascript:void(0)" (click)="increment()">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <mwl-calendar-month-view
                            [viewDate]="viewDate"
                            [locale]="'es'"
                            (dayClicked)="dayClicked($event)">
                        </mwl-calendar-month-view>
                        <div class="spacer1"></div>
                        <p class="disponibilidad-etiqueta1">HORARIOS DISPONBLES</p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2"  *ngFor="let disp of dataDisponibilidadesDia; let i = index">
                                    <input type="radio" 
                                        class="hidden radio-label"
                                        id="radio{{i}}"
                                        [checked]="getDispoSelect(disp.id)"
                                        (click)="setDispoSelect(disp.id)"
                                        [name]="disp.id"
                                        [value]="disp.id"> 
                                    <label class="disponibilidad-option" for="radio{{i}}">
                                        {{ disp.inicio | date : 'shortTime'}} 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p>
                            <span class="disponibilidad-precio"> {{ precio }} </span> 
                            <span> 
                                <a href="javascript:void(0)" (click)="onAgendar()" class="disponibilidad-prueba">PRUEBA TU SESIÓN <strong>¡GRATIS!</strong></a>
                            </span>
                        </p> 
                        <p class="text-center"><a href="javascript:void(0)" (click)="onAgendar()" class="agendar">AGENDAR SESIÓN</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <a class="anterior" href="javascript:void(0)" (click)="onVolver()">ANTERIOR</a>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-5">
            </div>
        </div>
</div>
<app-footerweb></app-footerweb>