.background-image {
    background-image: url('assets/images/background/page-header-2.png') !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -10;
}

.background-selection {
    margin-top: 6%;
    margin-bottom: 4em;
    background: #ffffff;
    border-radius: 15px;
    -webkit-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
}

.titulo {
    margin-top: 0.6em;
    font-family: 'QuicksandLight', sans-serif;
    color: #666666;
    font-size: 3.5em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0.6em;
}

strong { 
    font-family: 'QuicksandBold', sans-serif;
    font-weight: 800;
}

img {
    margin-left: 10% !important;
}

.round {
    width: 40% !important;
    height: auto !important;
    margin-bottom: 2%;
}

.frame-prof {
    padding-top: 30%;
    margin-right: initial;
}

.prof-nombre {
    font-family: "QuicksandBold";
    color: #00DBB1;
    font-size: 2.3em;
    margin-bottom: 0px !important;
}

.prof-titulo {
    font-family: "QuicksandLight";
    text-transform: uppercase;
    color: #E2E2E2;
    font-size: 1.1em;
    margin-bottom: 0px !important;
}

.prof-especialidad {
    font-family: "Quicksand";
    color: #16DEB9;
    font-size: 1.1em;
    margin-bottom: 0px !important;
}

hr {
    border-color: #A98ED6;
}

.prof-info {
    font-size: 0.8em;
    color: #A98ED6;
    display: flex;
    align-items: center;
}

.prof-etiqueta1 {
    font-family: "QuicksandBold";
    margin-top: 2%;
    color: #A384D2;
    font-size: 1.6em;
    margin-bottom: 10px !important;
}

.prof-etiqueta2 {
    font-family: "QuicksandBold";
    margin-top: 2%;
    color: #24E1BD;
    font-size: 1.6em;
    margin-bottom: 10px !important;
}

.prof-biografia {
    font-family: "QuicksandLight";
    scroll-margin-bottom: 5%;
    color: #5A5A5A;
    font-size: 1.2em;
    margin-bottom: 0px !important;
}

.container-tallest{
    padding-top: 45%;
}

.spacer1 {
  height: 34%;
}

.disponibilidad-titulo {
    font-family: "QuicksandBold";
    color: #A384D2;
    font-size: 1.6em;
    margin-bottom: 10px !important;
}

.disponibilidad-nav-btn {
    font-family: "QuicksandBold";
    text-transform: uppercase;
    // cursor: default;
    color: #A384D2 !important;
    font-size: 0.9em;
    margin-bottom: 10%;
    white-space: nowrap;
}

.disponibilidad-frame{
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 6%;
    border-radius: 10% 10% 10% 10%;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #ECECEC;
    background: #ffffff;
    -webkit-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
    box-shadow: 10px 14px 16px -5px rgba(0, 0, 0, 0.72);
}

.disponibilidad-etiqueta1 {
    font-family: "QuicksandLight";
    font-size: 1.4em;
    color: #80788C;
    margin-top: 1%;
    margin-left: 1%;
}

/*******************************************************/

$dark: #292929;
$light: #efefef;
$red: #D91E18;
$green: #2ECC71;
$small: 40em;

.disponibilidad-group {
    border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
	margin: 0 0 3em 0;
}

.disponibilidad-option {
    position: relative;
    text-align: center;
    margin-top: -2.5em;
    @media (max-width: $small) {margin-top: -1.5em;}
}

label {
    padding: 0.05em 1em;
    cursor: pointer;
    color: #9F9F9F;
    border-radius: 1em;
    border: 1px solid #00DDB4;
    transition: 0.3s;
    user-select: none;
    &:active {
        transform: translateY(2px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
    }
}

input[type="radio"]:checked+label {
  background: #00DDB4;
  color: $light;
  &:hover {
    background: darken(#00DDB4, 5%);
    color: darken($light, 5%);
  }
}

.hidden {
  display: none;
}
/*******************************************************/

.disponibilidad-precio {
    font-family: "QuicksandLight";
    font-size: 2.1em;
    color: #6B6B6B;
    margin-left: 1.2em;
}

.disponibilidad-prueba {
    font-family: "QuicksandLight";
    font-size: 1.2em;
    color: #00DDB4;
    margin-left: 1em;
}

.agendar {
    display: inline;
    font-size: 2em;
    font-weight: 800;
    font-family: 'QuicksandBold', sans-serif;;
    color: #ffffff !important;
    background-color: #00DDB4;
    border-radius: 30px 30px 30px 30px;
    padding: 2% 12% 2% 12%;
    position: relative;
}

:host /deep/ .cal-month-view .cal-days {
    border: 0px solid #e1e1e1;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

:host /deep/ .cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 0px solid #e1e1e1 !important; 
} 
:host /deep/.disponibilidad-frame .cal-month-view .cal-days .cal-cell-row {
    border-bottom: 0px solid #e1e1e1 !important;
}

:host /deep/ .cal-month-view .cal-day-cell.cal-today {
    background-color: #FFFFFF;
}

:host /deep/ .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    padding: 8px;

    background: #B69EDC;
    border: 2px solid #B69EDC;
    color: #80788C;
    text-align: center;

    font-size: 1.2em;
}

:host /deep/ .cal-month-view .cal-day-number {
    color: #959595;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:host /deep/ .cal-month-view .cal-day-cell {
    min-height: initial;
}

.row-eq-height > [class^=col]:first-of-type {
  display: flex;
}

.row-eq-height > [class^=col]:first-of-type .container-tallest {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.anterior {
    display: inline;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'QuicksandBold', sans-serif;;
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #a6d1fc 0%, #01dcb3 100%);
    border-radius: 30px 30px 30px 30px;
    padding: 2% 12% 2% 12%;
    margin-left: 11%;
    position: relative;
}

a:not([href]):not([tabindex]) {
    color: #ffffff;
    text-decoration: none;
}