<div class="row align-items-center">
	<div class="col-lg">
		<label class="control-label">DNI</label><br />
		<img class="img-thumbnail dni" id="dniurl" alt="Imagen no disponible" 
			[src]="isSeted(selectedEntity.dniurl) ? selectedEntity.dniurl : 'https://placehold.it/400x400'" 
			(click)="open(0)" 
			height="192" width="192">
	</div>
	<div class="col-lg">
		<label class="control-label">Título Profesional</label><br />
		<img class="img-thumbnail titulo" id="titulourl" alt="Imagen no disponible" 
			[src]="isSeted(selectedEntity.titulourl) ? selectedEntity.titulourl : 'https://placehold.it/400x400'" 
			(click)="open(1)"
			height="192" width="192">
	</div>
	<div class="col-lg">
		<label class="control-label">Matrícula</label><br />
		<img class="img-thumbnail matricula" id="matriculaurl" alt="Imagen no disponible"
			[src]="isSeted(selectedEntity.matriculaurl) ? selectedEntity.matriculaurl : 'https://placehold.it/400x400'"
			(click)="open(2)"
			height="192" width="192">
	</div>
</div>
