<div class="card-group m-b-30">
    <div class="card" *ngIf="hasAusencias()">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                    <h3 class="">{{ selectedEntity.ausencias }}</h3>
                    <h6 class="card-subtitle">Tus ausencias</h6></div>
            </div>
        </div>
    </div>
</div>