<div class="login-register" 
	style="background-image:url(assets/images/background/login-register.png);
  		background-repeat: no-repeat;
		background-attachment: scroll !important;
		overflow-y: auto;
		overflow-x: hidden;">
<!-- <app-topbar></app-topbar> -->
<app-navbar></app-navbar>
<div class="login-box">
    <div class="container">
		<form class="form-horizontal form-material" id="loginform">
			<h3 class="title-centered">Ya estoy registrado</h3>
			<hr class="line-degree">
			<h5 class="subtitle">Accede a tu cuenta</h5>
			<div class="form-group ">
				<div class="col-xs-12 cont">
					<input class="form-control ingresar-txt" type="text" required placeholder="Escriba su Usuario" #usuario>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 cont">
					<input class="form-control ingresar-txt" type="password" required placeholder="Escriba su Contraseña" #contrasena>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12 font-14 cont-2">
					<label class="control control-checkbox">
						<input type="checkbox" 
							[checked]="recuerdame" 
							(change)="recuerdame = !recuerdame"/>
						<div class="control_indicator"></div>
						&nbsp;Recuerdame
					</label>
					<a href="javascript:void(0)" id="to-recover" class="pull-right text-olvide">
						Olvidé mi contraseña</a>
				</div>
			</div>
			<div class="form-group text-center m-t-20 ingresar-container">
				<div class="col-xs-12">
					<a class="ingresar" href="javascript:void(0)" (click)="onLoggedin(usuario.value, contrasena.value)">Entrar</a>
				</div>
			</div>
			&nbsp;
			<div *ngIf="error" class="alert alert-danger">
				<strong>Usuario y/o contraseña erróneos!</strong> Corrija e intente de nuevo por favor.
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
					<div class="social">
						<a href="javascript:void(0)" (click)="onLoggedinSocial('facebook')" class="btn btn-facebook" placement="top" ngbTooltip="Ingresar con Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
						<a href="javascript:void(0)" (click)="onLoggedinSocial('google')" class="btn btn-googleplus" placement="top" ngbTooltip="Ingresar con Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
					</div>
				</div>
			</div>
			<hr class="line-degree">
			<div class="form-group m-b-0">
				<div class="col-sm-12">
					<div class="sin_registros">¿Todavía no se ha registrado?</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group m-b-0">
						<a class="registrar-btn" href="javascript:void(0)" [routerLink]="['/authentication/signup-pac']">SOY CLIENTE / PACIENTE - REGISTRAR</a>
					</div>
				</div>
			</div>
			
		<div class="relleno"></div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group m-b-0">
						<a class="registrar-btn" href="javascript:void(0)" [routerLink]="['/authentication/signup-pro']">SOY PSICÓLOGO - REGISTRAR</a>
					</div>
				</div>
			</div>
		</form>
		<form class="form-horizontal" id="recoverform" action="index.html">
			<div class="form-group ">
				<div class="col-xs-12">
					<h3>Olvidé mi contraseña</h3>
					<p class="text-muted">Ingrese su Email y se le enviarán las intrucciones para recuperar! </p>
				</div>
			</div>
			<div class="form-group ">
				<div class="col-xs-12">
					<input class="form-control" type="text" required="" placeholder="Email">
				</div>
			</div>
			<div class="form-group text-center m-t-20">
				<div class="col-xs-12">
					<a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/login']">Recuperar</a>
				</div>
			</div>
		</form>
	</div>
</div>
