<form role="form" #mainForm="ngForm">
    <div class="row">          
        <div class="col-xl-12">
            <label class="control-label">Foto</label> <br>
            <img [src]="croppedImage" />
            <div id="upload_button">
                <label>
                    <input type="file" 
                        ngf-select 
                        required 
                        (change)="fileChangeEvent($event)"
                        accept=".png, .jpg">
                    <span class="btn btn-primary">Seleccionar Imagen</span>
                </label>
            </div>
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 4"
                [resizeToWidth]="128"
                format="png"
                (imageCroppedBase64)="imageCropped($event)"
                (imageCroppedFile)="imageCroppedFile($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"></image-cropper>
            <small class="form-control-feedback"> Utilizada para perfil. Sujeta a aprobación </small>
        </div>
    </div>
    <button type="button" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
    <button type="button" class="btn btn-dark">Cancelar</button>
</form>