<div class="card border-dark mb-3">
    <div class="card-body">
        <form role="form" #mainForm="ngForm">
            <div class="form-body">
                <div class="row p-t-20">
                    <div class="form-group col-md-6">
                        <label class="control-label">Titulo</label>
                        <input type="text" class="form-control" placeholder="Título del recurso" 
                            required
                            name="titulo"
                            [(ngModel)]="selectedEntity.titulo"
                            #titulo="ngModel">
                        <small class="form-control-feedback"> Utilizado para identificar al recurso. </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Clase</label>
                        <select class="form-control custom-select"
                            required
                            name="idclase"
                            [(ngModel)]="idClase"
                            #idclase="ngModel">
                            <option *ngFor="let instance of dataClases" [value]="instance.id" [selected]="instance.id === idClase">{{instance.clase}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Descripción</label>
                        <input type="text" class="form-control" placeholder="Descripción del recurso" 
                            required
                            name="recursos"
                            [(ngModel)]="selectedEntity.recursos"
                            #recursos="ngModel">
                        <small class="form-control-feedback"> Utilizado como descripción recurso. </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Tipo</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                [checked]="isArchivo(0)"
                                (click)="setArchivo(0)"
                                value="0">
                            <label class="custom-control-label" for="customRadio2">Archivo</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                [checked]="isArchivo(1)"
                                (click)="setArchivo(1)"
                                value="1">
                            <label class="custom-control-label" for="customRadio1">Youtube</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-12" *ngIf="isArchivo(1)">
                        <label class="control-label">Link Youtube</label>
                        <div class="input-group">
                            <input type="text" class="form-control" 
                                placeholder="https://www.youtube.com/embed/GasYScAXyuY" 
                                name="url"
                                [(ngModel)]="selectedEntity.url"
                                #url="ngModel" aria-describedby="basic-addon1">
                        </div>
                        <small class="form-control-feedback"> Utilizar urls con embed. </small>
                        <br>
                        <div class="video-container" *ngIf="!isUrlEmpty()">
                            <iframe 
                                [src]='getSafeURL(selectedEntity.url)' 
                                frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen class="video">
                            </iframe>
                        </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="isArchivo(0)">
                        <label class="control-label">Link archivo pdf</label>
                        <div class="input-group">
                            <input type="text" class="form-control" 
                                placeholder="http://www.pdf995.com/samples/pdf.pdf" 
                                name="url"
                                [(ngModel)]="selectedEntity.url"
                                #url="ngModel" aria-describedby="basic-addon1">
                        </div>
                        <small class="form-control-feedback"> Utilizar urls de archivos subidos. </small>
                        <div class="video-container" *ngIf="!isUrlEmpty()">
                            <object [data]='getSafeURL(selectedEntity.url)' type="application/pdf" class="video">
                                <embed [src]='getSafeURL(selectedEntity.url)' type="application/pdf" />
                            </object>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                        <button type="button" [disabled]="!hasEntity()" class="btn btn-success m-r-10" (click)="onEliminar()">Eliminar</button>
                        <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
                    </div>
                </div> 
            </div>
        </form>
    </div> 
</div>