<div class="error-box">
    <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">Página no encontrada !</h3>
        <p class="text-muted m-t-30 m-b-30">PARECES ESTAR TRATANDO DE ENCONTRAR SU CAMINO A CASA</p>
        <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/dashboard/dashboard1']">Volver</a> </div>
    <footer class="footer text-center">© 2020 Clickterapia.</footer>
</div>