<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="form-group col-md-6">
                <label class="control-label">Usuario</label>
                <input type="text" class="form-control" placeholder="usrricardo" 
                    disabled
                    name="usuario"
                    [(ngModel)]="selectedEntity.usuario"
                    #usuario="ngModel">
                <small class="form-control-feedback"> Utilizado para ingresar a la apicación. No puede ser modificado. </small>
            </div>
            <div class="form-group col-md-6" disabled>
                <label class="control-label">Correo Electrónico</label>
                <input type="text" class="form-control" placeholder="resquivel@ejemplo.com"
                    disabled
                    name="emal"
                    [(ngModel)]="selectedEntity.email" 
                    #email="ngModel">
                <small class="form-control-feedback"> Utilizado para comunicaciónes con la administración. No puede ser modificado.</small> 
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': apellido.errors && apellido.touched}">
                <label class="control-label">Apellidos</label>
                <input type="text" class="form-control" placeholder="Esquivel"
                    [ngbTooltip]="(apellido.errors && apellido.touched) ? 'Debe ingresar su apellido.' : ''"
                    required
                    name="apellido"
                    [(ngModel)]="selectedEntity.apellido"
                    #apellido="ngModel">
                <small class="form-control-feedback"> Apellidos del profesional. Deben ser reales. </small> 
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': nombre.errors && nombre.touched}">
                <label class="control-label">Nombres</label>
                <input type="text" class="form-control" placeholder="Ricardo Rubén"
                    [ngbTooltip]="(nombre.errors && nombre.touched) ? 'Debe ingresar su nombre.' : ''"
                    required
                    name="nombre"
                    [(ngModel)]="selectedEntity.nombre"
                    #nombre="ngModel">
                <small class="form-control-feedback"> Nombres del profesional. Deben ser reales. </small> 
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': dni.errors && dni.touched}">
                <label class="control-label">DNI</label>
                <input type="text" class="form-control" placeholder="Ej. 26374489"
                    [ngbTooltip]="(dni.errors && dni.touched) ? 'Debe ingresar su dni.' : ''"
                    required
                    name="dni"
                    [(ngModel)]="selectedEntity.dni"
                    #dni="ngModel">
                <small class="form-control-feedback"> Documento Nacional de Identidad. </small> 
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': (idsexo.errors && idsexo.touched) || (selectedEntity.idsexo === -1)}">
                <label class="control-label">Sexo</label>
                <select class="form-control custom-select"
                    [ngbTooltip]="(idsexo.errors && idsexo.touched) ? 'Debe seleccionar su género.' : ''"
                    required
                    name="idsexo"
                    [(ngModel)]="selectedEntity.idsexo"
                    #idsexo="ngModel">
                    <option *ngFor="let instance of dataSexos" [value]="instance.id" [selected]="instance.id === selectedEntity.idsexo">{{instance.sexo}}</option>
                </select>
                <small class="form-control-feedback"> Seleccione su género. </small>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">País</label>
                <select class="form-control custom-select"
                    [ngbTooltip]="(idpais.errors && idpais.touched) ? 'Debe seleccionar un país.' : ''"
                    required
                    name="idpais"
                    (change)="onPaisChange()"
                    [(ngModel)]="selectedEntity.idpais"
                    #idpais="ngModel">
                    <option *ngFor="let instance of dataPaises" [value]="instance.id" [selected]="instance.id === selectedEntity.idpais">{{instance.pais}}</option>
                </select>
                <small class="form-control-feedback"> Seleccione su país. </small>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Provincia</label>
                <select class="form-control custom-select"
                    required
                    name="idprovincia"
                    [(ngModel)]="selectedEntity.idprovincia"
                    #idprovincia="ngModel">
                <option *ngFor="let instance of dataProvinciasFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idprovincia">{{instance.provincia}}</option>
            </select>
                <small class="form-control-feedback"> Seleccione su provincia o estado. </small>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                <label class="control-label">Fecha de Nacimiento</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fecha"
                        required
                        [maxDate]="minDate"
                        [(ngModel)]="fecNacimiento" ngbDatepicker #d="ngbDatepicker"
                        [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha de nacimiento es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="checkbox1" value="check">
                    <label class="custom-control-label" for="checkbox1">Recibir Notificaciones</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <button type="button" class="btn btn-dark">Cancelar</button>
            </div>
        </div>
    </div>
</form>