<div class="email-container">
    <div class="card">
        <div class="row">
            <div class="col">
                <form class="was-validated">
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" name="bloqueo" class="custom-control-input" id="customControlValidation1" 
                            [checked]="(bloqueo == true)"
                            (change)="bloquear()"
                            required>
                        <ng-container *ngIf="isBloqued(); then prHabilitado else prNoHabilitado"></ng-container>
                        <ng-template #prNoHabilitado >
                            <label class="custom-control-label" for="customControlValidation1">Bloqueado para intercambiar mensajes</label>
                        </ng-template>
                        <ng-template #prHabilitado >
                            <label class="custom-control-label" for="customControlValidation1">Habilitado para intercambiar mensajes</label>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xlg-3 col-lg-4 col-md-4">
                <div class="inbox-panel">
                    <div class="d-flex p-20 no-block">
                        <div class="align-self-center">
                            <h4 class="m-b-0">Mensajes</h4> </div>
                        <div class="ml-auto align-self-center">
                            <button class="btn btn-danger btn-sm" (click)="open2(content)">Nuevo</button>
                        </div>
                    </div>
                    <div class="inb-right">
                        <div (click)="onSelect(mensaje)" *ngFor="let mensaje of dataMensajes; let i = index" [class.selected]="mensaje.id === selectedEntity.id" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                            <div class="d-flex">
                                <div class="">
                                    <ng-container *ngIf="isFromPac(mensaje.tipoorigen); then prFoto else prAvatar"></ng-container>
                                    <ng-template #prFoto >
                                        <div class="avatar-status bg-danger">
                                            <img [src]="mensaje.avatar != null ? mensaje.avatar : 'assets/images/users/5.jpg'" class="avatar-status bg-danger avatar-sm rounded-circle" />
                                        </div>
                                    </ng-template>
                                    <ng-template #prAvatar >
                                        <div class="avatar-status bg-success">
                                            <ngx-avatar name="{{mensaje.origen}}" class="avatar-sm rounded-circle" ></ngx-avatar>
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="pl-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center"> 
                                        <ng-container *ngIf="isFromPac(mensaje.tipoorigen); then prProf else prPac"></ng-container>
                                        <ng-template #prProf >
                                            <small class="font-medium text-danger"> 
                                                {{mensaje.origen}} 
                                            </small> 
                                        </ng-template>
                                        <ng-template #prPac >
                                            <small class="font-medium text-succes"> 
                                                {{mensaje.origen}} 
                                            </small> 
                                        </ng-template>
                                        <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-9 col-lg-8 bg-light-part b-l col-md-8">
                <div class="card-body" *ngIf="selectedEntity">
                    <div class="p-20">
                        <div class="d-flex align-items-center m-b-30">                            
                            <ng-container *ngIf="isFromPac(selectedEntity.tipoorigen); then prFoto1 else prAvatar1"></ng-container>
                            <ng-template #prFoto1 >
                                <div class="avatar-status bg-danger">
                                    <img [src]="selectedEntity.avatar != null ? selectedEntity.avatar : 'assets/images/users/2.jpg'" class="avatar-status bg-danger avatar-sm rounded-circle" />
                                </div>
                            </ng-template>
                            <ng-template #prAvatar1 >
                                <div class="avatar-status bg-success">
                                    <ngx-avatar name="{{selectedEntity.origen}}" class="avatar-sm rounded-circle" ></ngx-avatar>
                                </div>
                            </ng-template>
                            <div class="pl-3">
                                <div class="font-medium">{{selectedEntity.origen}} - {{selectedEntity.fechahora | date: 'dd/MM/yyyy HH:mm' }} </div> 
                            </div>
                        </div>
                        <div [innerHtml]="selectedEntity.mensaje"> </div>
                    </div>
                </div>
            </div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Enviar mensaje</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <form role="form" #mainForm="ngForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="to" readonly value={{destino}}> </div>
                        <div class="form-group">
                            <input type="email" hidden class="form-control" id="subject" placeholder="Subject"> </div>
                            <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Presenta desórdenes alimenticios..."
                                name="newMensajeToSend"
                                [(ngModel)]="newMensajeToSend"
                                #newMensaje="ngModel">
                            </textarea>
                        <button type="button" class="btn btn-primary waves-effect waves-light m-r-10 m-t-20" (click)="onSave()">Enviar</button>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>