<div class="row">
    <div class="col-12">
        <app-filtros></app-filtros>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-sinaprobar></app-sinaprobar>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-xlg-9">
       <app-mensajes></app-mensajes>
    </div>
</div>