<div class="main">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="block1">
                <div class="item1">
                    <span class="item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.012 31.012" width="512" height="512"><path d="M25.109 21.51a.495.495 0 0 1-.342-.136l-5.754-5.398a.5.5 0 1 1 .685-.728l5.754 5.398a.5.5 0 0 1-.343.864zM5.902 21.51a.5.5 0 0 1-.343-.864l5.756-5.398a.5.5 0 0 1 .685.728l-5.756 5.398a.495.495 0 0 1-.342.136z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFF"></path><path d="M28.512 26.529H2.5a2.503 2.503 0 0 1-2.5-2.5V6.982c0-1.379 1.122-2.5 2.5-2.5h26.012c1.378 0 2.5 1.121 2.5 2.5v17.047c0 1.379-1.122 2.5-2.5 2.5zM2.5 5.482c-.827 0-1.5.673-1.5 1.5v17.047c0 .827.673 1.5 1.5 1.5h26.012c.827 0 1.5-.673 1.5-1.5V6.982c0-.827-.673-1.5-1.5-1.5H2.5z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFF"></path><path d="M15.506 18.018c-.665 0-1.33-.221-1.836-.662L.83 6.155a.501.501 0 0 1-.049-.706.503.503 0 0 1 .706-.048l12.84 11.2c.639.557 1.719.557 2.357 0L29.508 5.419a.5.5 0 0 1 .658.754L17.342 17.355c-.507.442-1.171.663-1.836.663z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFF"></path></svg>
                    </span>
                    <a href="https://clickterapia.com/sitio/contacto">Escríbenos</a>
                </div>
                <!-- <div class="item1">
                    <span class="item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 14.707 14.707" style="enable-background:new 0 0 14.707 14.707;" xml:space="preserve" width="512px" height="512px"><g><g><rect x="6.275" y="0" width="2.158" height="14.707" data-original="#030104" class="active-path" data-old_color="#030104" fill="#FFFFFF"></rect></g></g> </svg>
                    </span>
                </div> -->
                <!-- <div class="item1">
                    <span class="item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.01 512.01" style="enable-background:new 0 0 512.01 512.01;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M397.793,42.837C343.982,7.07,279.38-6.964,215.673,3.252c-1.109,0.021-2.218,0.128-3.327,0.32    C144.992,15.259,86.212,52.477,46.819,108.356c-39.35,55.901-54.6,123.766-42.933,191.142c1.941,11.112,4.649,22.309,8.062,33.186    c14.098,45.791,10.621,94.867-9.768,138.184c-3.562,7.507-2.389,16.423,2.965,22.8c5.353,6.377,13.842,9.022,21.946,6.846    l95.613-26.105c40.481,24.783,86.186,37.601,132.852,37.601c16.956,0,34.039-1.685,51.038-5.119    c67.034-13.501,124.79-52.275,162.626-109.199C547.345,280.175,515.31,121.004,397.793,42.837z M433.709,374.082    c-31.544,47.455-79.681,79.767-135.518,91.007c-55.794,11.24-112.697,0.064-160.173-31.501c-3.54-2.346-7.657-3.562-11.816-3.562    c-1.877,0-3.775,0.256-5.631,0.768l-65.093,17.766c10.984-41.931,10.173-86.336-2.794-128.544    c-2.879-9.192-5.161-18.555-6.761-27.812c-9.726-56.135,2.986-112.697,35.788-159.278c32.248-45.791,80.129-76.525,135.092-86.784    c1.024-0.043,2.026-0.149,3.05-0.32c53.939-9.32,108.751,2.261,154.351,32.568C472.142,143.505,498.823,276.144,433.709,374.082z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path></g></g><g><g><path d="M256.089,125.909c-11.794,0-21.328,9.534-21.328,21.328v127.968c0,11.794,9.534,21.328,21.328,21.328    c11.794,0,21.328-9.555,21.328-21.328V147.237C277.417,135.443,267.884,125.909,256.089,125.909z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path></g></g><g><g><path d="M275.69,354.524c-1.066-2.773-2.559-5.119-4.479-7.038c-1.066-0.853-2.133-1.92-3.412-2.559    c-1.066-0.853-2.346-1.472-3.626-1.92c-1.28-0.661-2.559-1.066-4.052-1.28c-6.804-1.493-14.29,0.874-19.174,5.759    c-1.92,1.919-3.412,4.266-4.479,7.038c-1.066,2.559-1.706,5.332-1.706,8.105c0,2.773,0.64,5.545,1.706,8.105    c1.066,2.559,2.559,4.905,4.479,7.038c2.133,1.919,4.479,3.412,7.038,4.479c2.559,1.066,5.332,1.706,8.105,1.706    c2.773,0,5.524-0.64,8.083-1.706c2.559-1.066,4.884-2.559,7.038-4.479c1.92-2.133,3.412-4.479,4.479-7.038    c1.066-2.559,1.706-5.332,1.706-8.105C277.396,359.856,276.756,357.083,275.69,354.524z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path></g></g></g> </svg>
                    </span>
                    <a href="javascript:void(0)">Ayuda</a>
                </div> -->
            </div>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2 right-align">
            <div class="item1">
                <a class="tag" href="javascript:void(0)">Síguenos</a>
                <span class="item-icon-2">
                    <a target="_blank" href="https://www.facebook.com/ClickTerapiaOK/">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve"><g><g><g><path d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306    C474.995,612,612,474.995,612,306z M27.818,306C27.818,152.36,152.36,27.818,306,27.818S584.182,152.36,584.182,306    S459.64,584.182,306,584.182S27.818,459.64,27.818,306z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path><path d="M317.739,482.617V306h58.279l9.208-58.529h-67.487v-29.348c0-15.272,5.007-29.849,26.928-29.849h43.813v-58.418h-62.201    c-52.298,0-66.569,34.438-66.569,82.175v35.413h-35.885V306h35.885v176.617H317.739L317.739,482.617z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path></g></g></g></svg>
                    </a>
                </span>
                <span class="item-icon-2">
                    <a target="_blank" href="https://www.instagram.com/">
                        <svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 0 480 480" width="512px"><g><path d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm0 464c-123.710938 0-224-100.289062-224-224s100.289062-224 224-224 224 100.289062 224 224c-.140625 123.652344-100.347656 223.859375-224 224zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path><path d="m344 96h-208c-22.082031.027344-39.972656 17.917969-40 40v208c.027344 22.082031 17.917969 39.972656 40 40h208c22.082031-.027344 39.972656-17.917969 40-40v-208c-.027344-22.082031-17.917969-39.972656-40-40zm24 248c0 13.253906-10.746094 24-24 24h-208c-13.253906 0-24-10.746094-24-24v-208c0-13.253906 10.746094-24 24-24h208c13.253906 0 24 10.746094 24 24zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path><path d="m240 160c-44.183594 0-80 35.816406-80 80s35.816406 80 80 80 80-35.816406 80-80c-.046875-44.164062-35.835938-79.953125-80-80zm0 144c-35.347656 0-64-28.652344-64-64s28.652344-64 64-64 64 28.652344 64 64c-.039062 35.328125-28.671875 63.960938-64 64zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path><path d="m328 128c-13.253906 0-24 10.746094-24 24s10.746094 24 24 24 24-10.746094 24-24-10.746094-24-24-24zm0 32c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8 8 3.582031 8 8-3.582031 8-8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path></g></svg>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>