.main {
    background-color: #00DBB1;
    padding: 3px 0;
}

.block1 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: block;
    -webkit-align-items: block;
    -webkit-box-align: block;

    align-items: block;
}

.item-icon {
    margin-right: 5px;
}

.item-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

.item1 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

a {
    color: #ffffff;
    font-family: "Quicksand", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.tag {
    margin-right: 5px;
}

.item-icon-2 {
    margin-right: 5px;
}

.item-icon-2 svg {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    display: block;
}

.right-align {
    float: right;
}

@media screen and (max-width: 800px) {
  .main {
    display: none;
  }
}