<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" *ngIf="dataReport">
                <h4 class="card-title">Rendimiento profesional</h4>
                <h6 class="card-subtitle">{{ frase }}</h6>
                <div style="display: block;">
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions" 
                        [legend]="barChartLegend" 
                        [chartType]="barChartType" 
                        [colors]="barChartColors" 
                        (chartHover)="chartHovered($event)" >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" *ngIf="dataReport">
                <h4 class="card-title">Rendimiento profesional</h4>
                <h6 class="card-subtitle">{{ frase }}</h6>
                <div style="display: block;">
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions" 
                        [legend]="barChartLegend" 
                        [chartType]="barChartType" 
                        [colors]="barChartColors" 
                        (chartHover)="chartHovered($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                <h3 class="">{{ profesional.visualizaciones }}</h3>
                <h6 class="card-subtitle">Visualizaciones del prefil</h6>
            </div>
        </div>
    </div>
</div>