<div class="card border-dark mb-3">
    <div class="card-body">
        <form role="form" #mainForm="ngForm">
            <div class="form-body">
                <div class="row p-t-20">
                    <div class="form-group col-md-12">
                        <label class="control-label">Frase</label>
                        <textarea class="form-control"
                            rows="3"
                            name="frase"
                            [(ngModel)]="selectedEntity.frase"
                            #frase="ngModel">
                        </textarea>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                        <label class="control-label">Fecha de inicio</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fecInicio"
                                required
                                [(ngModel)]="fecInicio" ngbDatepicker #d="ngbDatepicker"
                                [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha inicio es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': e.errors && e.touched}">
                        <label class="control-label">Fecha de fin</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fecFin"
                                required
                                [(ngModel)]="fecFin" ngbDatepicker #e="ngbDatepicker"
                                [ngbTooltip]="(e.errors && (e.dirty || e.touched)) ? 'La fecha fin es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Tendencia</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                [checked]="isAlza(1)"
                                (click)="setAlza(1)"
                                value="0">
                            <label class="custom-control-label" for="customRadio2">En alza</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                [checked]="isAlza(0)"
                                (click)="isAlza(0)"
                                value="1">
                            <label class="custom-control-label" for="customRadio1">En baja</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-6">
                        <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                        <button type="button" [disabled]="!hasEntity()" class="btn btn-success m-r-10" (click)="onEliminar()">Eliminar</button>
                        <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
                    </div>
                </div> 
            </div>
        </form>
    </div> 
</div>