<div class="session" [hidden]="!hasSession()">
    <ng-container *ngIf="!hasStarted(); then notStarted else started"></ng-container>
    <ng-template #notStarted> Recuerda que tu próxima sesión será en  <br>
        <countdown [config]="config" (finished)="onStartSesion()">
            <span class="time">$!d! día/s  </span>
            <span class="time">$!h! hora/s </span>
            <span class="time">$!m! minuto/s</span>
        </countdown>,<br> estate atento/a.
    </ng-template>
    <ng-template #started>
        <button type="button" class="btn btn-success m-r-10" (click)="onIniciar()">Iniciar sesión</button>
    </ng-template>
</div>