<div class="row" [hidden]="!hasSession()">
    <div class="col-12">
        <div class="card">
            <div class="card-body collapse show">
                <div class="container-fluid">
                    <h4>Sesión terapéutica</h4>
                    <ng-container *ngIf="!hasStarted(); then notStarted else started"></ng-container>
                    <ng-template #notStarted> La sesión inicia en 
                        <countdown [config]="config" (finished)="onStartSesion()">
                            <span class="time">$!d! : </span>
                            <span class="time">$!h! : </span>
                            <span class="time">$!m! : </span>
                            <span class="time">$!s!</span>
                        </countdown>
                    </ng-template>
                    <ng-template #started>
                        <button type="button" class="btn btn-success m-r-10" (click)="onIniciar()">Iniciar sesión</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>