<div class="col-md-12 col-xlg-12" *ngIf="dataBanners.length > 0">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"></h3>
            <h6 class="card-subtitle"></h6>
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let instance of dataBanners">
                <img [src]="instance.imagenurl != null ? instance.imagenurl : 'assets/images/big/img1.jpg'" alt="{{instance.titulo}}">
                <div class="carousel-caption">
                    <h3 class="text-white font-bold">{{ instance.titulo }}</h3>
                    <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>