<form  role="form" #mainForm="ngForm">
    <div class="form-body">
            <div class="form-group" [ngClass]="{'has-danger': titulo.errors && titulo.touched}">
                <label class="control-label">Título</label>
                <input type="text" class="form-control" placeholder="Dr. en Psiquiatría" 
                    [ngbTooltip]="(titulo.errors && titulo.touched) ? 'Debe ingresar su título.' : ''"
                    required
                    name="titulo"
                    [(ngModel)]="selectedEntity.titulo"
                    #titulo="ngModel">
                <small class="form-control-feedback"> Título con el que desea ser reconocido. </small>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': idespecialidades.errors && idespecialidades.touched}">
                <label class="control-label">Especialidades</label>
                <angular2-multiselect class="form-control"
                    [data]="dataEspecialidades" 
                    [(ngModel)]="selectedItems" 
                    [settings]="dropdownSettings" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    [ngModelOptions]="{standalone: true}"
                    #idespecialidades></angular2-multiselect>
                <small class="form-control-feedback"> Puede seleccionar las necesarias. </small> 
            </div>
             <div class="form-group" [ngClass]="{'has-danger': microbiografia.errors && microbiografia.touched}">
                <label class="control-label">Microbiografía</label>
                <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Nacido en Santa Fe Argentina, Graduado en 2002..."
                    [ngbTooltip]="(microbiografia.errors && microbiografia.touched) ? 'Debe ingresar su microbío.' : ''"
                    required
                    name="microbiografia"
                    [(ngModel)]="selectedEntity.microbiografia"
                    #microbiografia="ngModel">
                </textarea>
                <small class="form-control-feedback"> La microbío es importante para que los pacientes lo elijan. Hasta 500 caracteres. </small> 
            </div>
            <div class="form-group" [ngClass]="{'has-danger': credenciales.errors && credenciales.touched}">
                <label class="control-label">Credenciales</label>
                <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Magister en Terapia Ocupacional - Universidad San Salvador..."
                    [ngbTooltip]="(credenciales.errors && credenciales.touched) ? 'Debe ingresar sus credenciales.' : ''"
                    required
                    name="credenciales"
                    [(ngModel)]="selectedEntity.credenciales"
                    #credenciales="ngModel">
                </textarea>
                <small class="form-control-feedback"> Visible para todos los usuarios. Hasta 500 caracteres. </small> 
            </div>
            <div class="form-group" [ngClass]="{'has-danger': precio.errors && precio.touched}">
                <label class="control-label">Precio por Sesión</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Cantidad de pesos"
                        [ngbTooltip]="(precio.errors && precio.touched) ? 'Debe ingresar el costo de su sesión.' : ''"
                        required
                        step="1"
                        name="precio"
                        [(ngModel)]="selectedEntity.precio"
                        #precio="ngModel">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div [hidden]="hasMPAuthCode()">
                        <button type="button" 
                            class="btn btn-success m-r-10" 
                            (click)="onLink()">Vincular
                        </button>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" 
                            id="checkbox1" 
                            [checked]="sesionesgratis" 
                            (change)="sesionesgratis = !sesionesgratis">
                        <label class="custom-control-label" for="checkbox1">Sesiones gratis</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <button type="button" class="btn btn-dark">Cancelar</button>
            </div>
    </div>
</form>