<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab >
                        <ng-template ngbTabTitle><b>Datos Generales</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="card-body">
                                <app-generales></app-generales>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Mensajes</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="card-body">
                                <app-mensajes></app-mensajes>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Sesiones</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="card-body">
                                <app-sesiones></app-sesiones>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>