<div class="card border-dark mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Perfiles</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                        [checked]="isPerfil(2)"
                        (click)="setPerfil(2)"
                        value="2">
                    <label class="custom-control-label" for="customRadio1">Todos</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                        [checked]="isPerfil(0)"
                        (click)="setPerfil(0)"
                        value="0">
                    <label class="custom-control-label" for="customRadio2">Sólo completos</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input"
                        [checked]="isPerfil(1)"
                        (click)="setPerfil(1)"
                        value="1">
                    <label class="custom-control-label" for="customRadio3">Sólo incompletos</label>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Aprobación</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" name="customRadio1" class="custom-control-input"
                        [checked]="isAprobados(2)"
                        (click)="setAprobados(2)"
                        value="2">
                    <label class="custom-control-label" for="customRadio4">Todos</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio5" name="customRadio1" class="custom-control-input"
                        [checked]="isAprobados(1)"
                        (click)="setAprobados(1)"
                        value="1">
                    <label class="custom-control-label" for="customRadio5">Sólo aprobados</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio6" name="customRadio1" class="custom-control-input"
                        [checked]="isAprobados(0)"
                        (click)="setAprobados(0)"
                        value="0">
                    <label class="custom-control-label" for="customRadio6">Sólo no aprobados</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <br>
                <div class="form-group input-group">
                    <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
                    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                <br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ng2-smart-table class="table-responsive" 
                [settings]="settings" 
                [source]="source" 
                (userRowSelect)="userRowSelect($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>