<div class="row">
    <div class="col-12">
        <h3> Bienvenido/a {{selectedEntity.nombre}} </h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <app-regresiva></app-regresiva>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-proximas></app-proximas>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-rendimiento></app-rendimiento>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-resumenes></app-resumenes>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-mensajespro></app-mensajespro>
    </div>
</div>