recibo {
    background-color : rgba(86, 241, 86, 0.5);
}
gasto {
    background-color : rgba(243, 69, 69, 0.5);
}
:host /deep/ .depositado {
    background-color : #A7BA87 !important;
    color : #FFFFFF;
}
:host /deep/ .encartera {
    background-color : #D88072 !important;
    color : #FFFFFF;
}