<div class="login-register" style="background-image:url(assets/images/background/login-register.png);">
<!-- <app-topbar></app-topbar> -->
<app-navbar></app-navbar>
  <div class="login-box">
    <div class="container">
      <form class="form-horizontal form-material" id="loginform">
        <h3 class="title-centered">Ingresar Administrativo</h3>
        <hr class="line-degree">
        <h5 class="subtitle">Accede a tu cuenta</h5>
        <div class="form-group ">
          <div class="col-xs-12 cont">
            <input class="form-control ingresar-txt" type="text" required="" placeholder="Nombre de usuario" #usuario> </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 cont">
            <input class="form-control ingresar-txt" type="password" required="" placeholder="Contraseña" #contrasena> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="ingresar" (click)="onLoggedin(usuario.value, contrasena.value)">Ingresar</a>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar contraseña</h3>
            <p class="text-muted">Ingrese su Email y se le enviarán las intrucciones para recuperar! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email"> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/login']">Recuperar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
