.background-image {
    background-image: url('assets/images/background/page-header-3.png') !important;
//     background: transparent;
    background-size: 100% 100%;
//     background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: block;
    padding-left: 1.1%;
    padding-right: 1.1%;
    padding-bottom: 1.5%;
}

.relleno {
    height: 215px;
}
// .background-image {
//     background-image: url('assets/images/background/page-header-3.png') !important;
// //     background: transparent;
//     background-size: cover;
// //     background-position: center; /* Center the image */
// //     background-repeat: no-repeat; /* Do not repeat the image */
//     display: block;
//     padding-left: 1.1%;
//     padding-right: 1.1%;
//     padding-bottom: 1.5%;
// }

.registro {
    font-family: 'QuicksandBold', sans-serif;
    text-align: center;
}

h3 {
    color: #7E7E7E;
    font-size: 1.8em;
    font-weight: 900 !important;
}


h4 {
    color: #A083CF;
    font-size: 1.5em;
    font-weight: 600 !important;
}

label {
    color: #A1A1A1;
    font-family: 'QuicksandBold', sans-serif;
    padding-bottom: 8px;
}

input {
    border-radius: 26px;
    background-color: #EEEEEE;
}

.btn-outline-secondary {
    border-radius: 0px 26px 26px 0px;
}

select {
    border-radius: 26px;
    background-color: #EEEEEE;
}

.button_reg {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(90deg,#fea 0%,#dc8 0%,#c1ddfd 0%,#0adab7 100%);
    border-radius: 30px;
    border: 0px solid #ba6;
    border-width: 0px 0px 0px 0px;
    padding: 10px 70px 10px 70px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    color: #fff;
    font-size: 16px;
    font-family: 'QuicksandBold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
}
.button_reg > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
}
.button_reg > i {
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static
}

/*******************/
/* custom checkbox */
/*******************/
.control {
    font-family: 'QuicksandBold', sans-serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-box-shadow: 10px 10px 52px -4px rgba(0,0,0,0.88) !important;
    -moz-box-shadow: 10px 10px 52px -4px rgba(0,0,0,0.88) !important;
    box-shadow: 10px 10px 52px -4px rgba(0,0,0,0.88) !important;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 5px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #ebebeb;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #D3D3D3;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 2;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #2aa1c0;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}