<!-- <app-topbar></app-topbar> -->
<div class="background-image">
	<app-navbar></app-navbar>
	<div class="relleno"></div>
</div>
<div class="register-box card">
	<div class="card-body">
		<form class="form-horizontal form-material" id="loginform" #mainForm="ngForm">
			<h3 class="registro">Registrate</h3>
			<h4 class="registro">Paciente</h4>
			<div class="row">
				<div class="col-md-6">
					<div class="card-body">
						<label for="usuario">Usuario</label>
						<div class="form-group">
							<div class="col-xs-12" [ngClass]="{'has-danger': usuario.errors && usuario.touched}">
								<input class="form-control" type="text" name="usuario"
									tabindex="1"
									[(ngModel)]="selectedEntity.usuario"
									[ngbTooltip]="(usuario.errors && usuario.touched) ? 'Debe ingresar un usuario.' : ''"
									required
									#usuario="ngModel">
							</div>
						</div>
						<label for="email">Email</label>
						<div class="form-group" [ngClass]="{'has-danger': (email.errors && email.touched)}">
							<div class="col-xs-12">
								<input class="form-control" type="text" name="email"
									tabindex="2"
									[(ngModel)]="selectedEntity.email"
									[ngbTooltip]="(email.errors && email.touched) ? 'Coreo electrónico obligatorio. Revise el formato del correo ingresado.' : ''"
									required
									pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
									#email="ngModel">
							</div>
						</div>
						<label for="fecha">Fecha de nacimiento</label>
						<div class="form-group" [ngClass]="{'has-danger': d.errors && d.touched}">
							<div class="input-group">
								<input class="form-control"
								name="fecha"
								required
								[maxDate]="minDate"
								[(ngModel)]="fecNacimiento" ngbDatepicker #d="ngbDatepicker"
								[ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha de nacimiento es obligatoria.' : ''">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
										<i class="ti-calendar"></i>
									</button>
								</div>
							</div>
						</div>
						<label for="idsexo">Sexo</label>
						<div class="form-group">
							<select class="custom-select col-12" id="customSelectSexo" name="idsexo"
								tabindex="8"
								[(ngModel)]="selectedEntity.idsexo"
								required
								#idsexo="ngModel">
								<option *ngFor="let instance of dataSexos" [value]="instance.id" [selected]="instance.id === selectedEntity.idsexo">{{instance.sexo}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<label for="idpais">País</label>
						<div class="form-group" [ngClass]="{'has-danger': (idpais.errors && idpais.touched) || (selectedEntity.idpais === -1)}">
							<select class="custom-select col-12" id="customSelectPais" name="idpais"
								tabindex="9"
								[ngbTooltip]="(idpais.errors && idpais.touched) ? 'Debe seleccionar un país.' : ''"
								(change)="onPaisChange()"
								[(ngModel)]="selectedEntity.idpais"
								required
								#idpais="ngModel">
								<option *ngFor="let instance of dataPaises" [value]="instance.id" [selected]="instance.id === selectedEntity.idpais">{{instance.pais}}</option>
							</select>
						</div>
						<label for="idprovincia">Provincia</label>
						<div class="form-group">
							<select class="custom-select col-12" id="customSelectProvincia" name="idprovincia"
								tabindex="10"
								[(ngModel)]="selectedEntity.idprovincia"
								required
								#idprovincia="ngModel">
								<option *ngFor="let instance of dataProvinciasFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idprovincia">{{instance.provincia}}</option>
							</select>
						</div>
						<label for="idprovincia">Contraseña</label>
						<div class="form-group" *ngIf="!isSocial" [ngClass]="{'has-danger': contrasena.errors && contrasena.touched}">
							<div class="col-xs-12">
								<input class="form-control" type="password" name="contrasena"
								tabindex="3"
								[(ngModel)]="selectedEntity.contrasena"
								[ngbTooltip]="(contrasena.errors && contrasena.touched) ? 'Debe ingresar una contraseña.' : ''"
								required
								#contrasena="ngModel" >
							</div>
						</div>
						<label for="idprovincia">Reingresar contraseña</label>
						<div class="form-group" *ngIf="!isSocial" [ngClass]="{'has-danger': (confirmar.errors && confirmar.touched) || (selectedEntity.contrasena !== repetirContrasena && confirmar.touched)}">
							<div class="col-xs-12">
								<input class="form-control" type="password" placeholder="Confirmar Contraseña" name="confirmar"
								tabindex="4"
								[(ngModel)]="repetirContrasena"
								[ngbTooltip]="(confirmar.errors && confirmar.touched) ? 'Las contraseñas no coinciden' : ''"
								required
								#confirmar="ngModel">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card-body">
						<div class="form-group row">
							<div class="col-md-12">
								<label class="control control-checkbox">
								<input type="checkbox" 
									[checked]="terminos" 
									(change)="terminos = !terminos"/>
								<div class="control_indicator"></div>
								&nbsp;De acuerdo con todos los <a href="javascript:void(0)">Términos</a>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<div class="form-group row">
							<div class="col-md-12">
								<label class="control control-checkbox">
									<input type="checkbox" 
										[checked]="notificaciones" 
										tabindex="11"
										(change)="notificaciones = !notificaciones"/>
									<div class="control_indicator"></div>
									&nbsp;Recibir notificaciones
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group text-center p-b-20">
				<div class="col-xs-12">
					<button type="button" 
					tabindex="13" 
					[disabled]="mainForm.invalid || isValid()" 
					class="button_reg" 
					(click)="onSignUp()">Registrar</button>
				</div>
				Ó
				<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
					<div class="social">
						<a href="javascript:void(0)" (click)="onSignUpSocial('facebook')" class="btn btn-facebook"
							placement="top" ngbTooltip="Ingresar con Facebook">
							<i aria-hidden="true" class="fa fa-facebook"></i> 
						</a>
						<a href="javascript:void(0)" (click)="onSignUpSocial('google')" class="btn btn-googleplus"
							placement="top" ngbTooltip="Ingresar con Google">
							<i aria-hidden="true" class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="form-group m-b-0">
				<div class="col-sm-12 text-center">
					Ya posee una cuenta? <a class="text-info m-l-5" tabindex="14" [routerLink]="['/authentication/login-pac']"><b>Ingresar</b></a>
				</div>
			</div>
			<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>	
		</form>
  	</div>
</div>
  