
<div class="card border-dark mb-3">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': profesional.errors && profesional.touched}">
                <label class="control-label">Profesional</label>
                <div class="input-group">
                    <ng-template #rt let-r="result" let-t="term">
                        {{ r.apellido}} , {{ r.nombre }}
                    </ng-template>
                    <input id="typeahead-format" 
                        required
                        type="text" 
                        class="form-control"
                        #profesional="ngModel"
                        [(ngModel)]="selectedProf" 
                        [ngbTypeahead]="searchProf" 
                        [inputFormatter]="formatMatchesProf"
                        [resultFormatter]="formatterProf"
                        [resultTemplate]="rt" />
                    <!-- <pre>Model: {{ selectedID | json }}</pre> -->
                </div>
                <small class="form-control-feedback"> Ingrese apellido y/o nombres del profesional. </small>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': paciente.errors && paciente.touched}">
                <label class="control-label">Paciente</label>
                <div class="input-group">
                    <ng-template #op let-o="result" let-p="term">
                        {{ o.usuario}}
                    </ng-template>
                    <input id="typeahead-format" 
                        required
                        type="text" 
                        class="form-control"
                        #paciente="ngModel"
                        [(ngModel)]="selectedPac" 
                        [ngbTypeahead]="searchPac" 
                        [inputFormatter]="formatMatchesPac"
                        [resultFormatter]="formatterPac"
                        [resultTemplate]="op" />
                    <!-- <pre>Model: {{ selectedID | json }}</pre> -->
                </div>
                <small class="form-control-feedback"> Ingrese usuario del profesional. </small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" >
                <label class="control-label">Fecha</label>
                <div class="input-group">
                    <input class="form-control"
                        required
                        name="fecha"
                        [(ngModel)]="fecha" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-success m-r-10" (click)="limpiar()">Limpiar</button>
            <button type="button" class="btn btn-success m-r-10" (click)="filtrar()">Filtrar</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <br>
                <div class="form-group input-group">
                    <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
                    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                <br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ng2-smart-table class="table-responsive" 
                [settings]="settings" 
                [source]="source" 
                (userRowSelect)="userRowSelect($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>