<div class="card border-dark mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Datos de la sesión</h4>
                <h6><strong>Paciente:</strong> {{ selectedEntity.usuario }} </h6>
                <h6><strong>Inicio de la sesión:</strong> {{ fecInicio }}</h6>
                <h6><strong>Fin de la sesión:</strong> {{ fecFin }}</h6>
                <h6><strong>Costo:</strong> {{ selectedEntity.precio }}</h6>
            </div>
        </div>
        <hr>
        <h4>Problemas</h4>
        <div class="container-fluid">
            <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source"></ng2-smart-table>
        </div>
        <button type="button" class="btn btn-success m-r-10" (click)="onRequest()">Solicitar sesión</button>
    </div>
</div>