<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="form-group col-md-6">
                <label class="control-label">Paciente</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="usuario"
                    [(ngModel)]="selectedEntity.usuario"
                    #usuario="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Sexo</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="sexo"
                    [(ngModel)]="selectedEntity.sexo"
                    #sexo="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">País</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="pais"
                    [(ngModel)]="selectedEntity.pais"
                    #pais="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Provincia</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="provincia"
                    [(ngModel)]="selectedEntity.provincia"
                    #provincia="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Primera sesión</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="primera"
                    [(ngModel)]="fecPrimera"
                    #primera="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Última sesión</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="ultima"
                    [(ngModel)]="fecUltima"
                    #ultima="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Fecha de registro</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="fecregistro"
                    [(ngModel)]="fecRegistro"
                    #fecregistro="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Cantidad de sesiones</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="cantidad"
                    [(ngModel)]="selectedEntity.cantidad"
                    #cantidad="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Bloqueo administrativo</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                            [checked]="isBloqueado(0)"
                            (click)="setBloqueado(0)"
                            value="0">
                        <label class="custom-control-label" for="customRadio2">Activo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                            [checked]="isBloqueado(1)"
                            (click)="setBloqueado(1)"
                            value="2">
                        <label class="custom-control-label" for="customRadio1">Bloqueado</label>
                    </div>
            </div>
        </div>
    </div>
</form>