<div class="email-container">
    <div class="card">
        <div class="row">
            <div class="col-xlg-3 col-lg-4 col-md-4">
                <div class="inbox-panel">
                    <div class="d-flex p-20 no-block">
                        <div class="align-self-center">
                            <h4 class="m-b-0">Mensajes</h4> 
                        </div>
                        <div class="ml-auto align-self-center">
                            <button class="btn btn-danger btn-sm" (click)="open2(content)">Nuevo</button>
                        </div>
                    </div>
                    <div class="inb-right">
                        <div 
                            (click)="onSelect(mensaje)" 
                            *ngFor="let mensaje of dataMensajes; let i = index" 
                            [class.selected]="mensaje.id === selectedEntity.id" 
                            class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                            <div class="d-flex">
                                <div class="">
                                    <ng-container *ngIf="isFromAdm(mensaje.tipoorigen)" >
                                        <div class="avatar-status bg-danger">
                                            <ngx-avatar name="{{mensaje.origen}}" class="avatar-sm bg-danger rounded-circle" ></ngx-avatar>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="isFromPac(mensaje.tipoorigen)" >
                                        <small class="font-medium text-succes"> 
                                            {{mensaje.origen}} 
                                        </small>
                                        <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small> 
                                    </ng-container>
                                    <ng-container *ngIf="isFromPro(mensaje.tipoorigen)" >
                                        <div class="avatar-status bg-danger">
                                        <img 
                                            [src]="mensaje.avatar != null ? mensaje.avatar : 'assets/images/users/5.jpg'" 
                                            class="avatar-status bg-warning avatar-sm rounded-circle" />
                                        </div>
                                        <!-- <small class="font-medium text-danger"> 
                                            {{mensaje.origen}} 
                                        </small>
                                        <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small>  -->
                                    </ng-container>
                                </div>
                                <div class="pl-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center"> 
                                        <ng-container *ngIf="isFromAdm(mensaje.tipoorigen)" >
                                            <small class="font-medium text-succes"> 
                                                {{mensaje.origen}} 
                                            </small>
                                            <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small> 
                                        </ng-container>
                                        <ng-container *ngIf="isFromPac(mensaje.tipoorigen)" >
                                            <div class="avatar-status bg-success">
                                                <ngx-avatar name="{{mensaje.origen}}" class="avatar-sm  bg-success rounded-circle" ></ngx-avatar>
                                            </div>
                                            <!-- <small class="font-medium text-succes"> 
                                                {{mensaje.origen}} 
                                            </small>
                                            <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small>  -->
                                        </ng-container>
                                        <ng-container *ngIf="isFromPro(mensaje.tipoorigen)" >
                                            <small class="font-medium text-danger"> 
                                                {{mensaje.origen}} 
                                            </small>
                                            <small class="bold text-muted time ">  {{ mensaje.fechahora | date: 'dd/MM/yyyy HH:mm' }} </small>
                                            <!-- <div class="avatar-status bg-danger">
                                            <img 
                                                [src]="mensaje.avatar != null ? mensaje.avatar : 'assets/images/users/5.jpg'" 
                                                class="avatar-status bg-warning avatar-sm rounded-circle" />
                                            </div> -->
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-9 col-lg-8 bg-light-part b-l col-md-8">
                <div class="card-body" *ngIf="selectedEntity">
                    <div class="p-20">
                        <div class="d-flex align-items-center m-b-30">
                             <ng-container *ngIf="isFromAdm(selectedEntity.tipoorigen)" >
                                <ngx-avatar name="{{selectedEntity.origen}}" class="avatar-sm  bg-success rounded-circle" ></ngx-avatar>
                            </ng-container>
                            <ng-container *ngIf="isFromPac(selectedEntity.tipoorigen)" >
                                <ngx-avatar name="{{selectedEntity.origen}}" class="avatar-sm  bg-success rounded-circle" ></ngx-avatar>
                            </ng-container>
                            <ng-container *ngIf="isFromPro(selectedEntity.tipoorigen)" >
                                <div class="avatar-status bg-danger">
                                    <img 
                                        [src]="selectedEntity.avatar != null ? selectedEntity.avatar : 'assets/images/users/5.jpg'" 
                                        class="avatar-status bg-warning avatar-sm rounded-circle" />
                                </div>
                            </ng-container>
                            <div class="pl-3">
                                <div class="font-medium">{{selectedEntity.origen}} - {{selectedEntity.fechahora | date: 'dd/MM/yyyy HH:mm' }} </div> 
                            </div>
                        </div>
                        <div [innerHtml]="selectedEntity.mensaje"> </div>
                    </div>
                </div>
            </div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Enviar mensaje</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <form role="form" #mainForm="ngForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="to" readonly value={{newMensajeDestino}}> </div>
                        <div class="form-group">
                            <input type="email" hidden class="form-control" id="subject" placeholder="Subject"> </div>
                            <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Presenta desórdenes alimenticios..."
                                name="newMensajeToSend"
                                [(ngModel)]="newMensajeToSend"
                                #newMensaje="ngModel">
                            </textarea>
                        <button type="button" class="btn btn-primary waves-effect waves-light m-r-10 m-t-20" (click)="onSave()">Enviar</button>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>