<div class="card-group m-b-30">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                    <h3 class="">{{ selectedEntity.sexo }}</h3>
                    <h6 class="card-subtitle">Filtros por sexo</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="info" [value]="porcSexo"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
                    <h3 class="">{{ selectedEntity.edad }}</h3>
                    <h6 class="card-subtitle">Filtros por edad</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="success" [value]="porcEdad"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
                    <h3 class="">{{ selectedEntity.especialidad }}</h3>
                    <h6 class="card-subtitle">Filtros por especialidad</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="primary" [value]="porcEspecialidad"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
                    <h3 class="">{{ selectedEntity.horario }}</h3>
                    <h6 class="card-subtitle">Filtros por franja horaria</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="warning" [value]="porcHorario"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>