<form role="form" #mainForm="ngForm">
	<div class="form-body">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Paquete</label>
			<div class="col-sm-8">
				<input type="text" class="form-control-plaintext" 
					name="titulo"
					[readonly]="true"
					required
					[(ngModel)]="selectedEntity.titulo">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Detalle</label>
			<div class="col-sm-8">
				<input type="textarea" class="form-control-plaintext" 
					name="paquetepremium"
					maxlength=500 rows=5
					[readonly]="true"
					[(ngModel)]="selectedEntity.paquetepremium">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Duración (días)</label>
			<div class="col-sm-8">
				<input type="text" class="form-control-plaintext" 
					name="duracion"
					[readonly]="true"
					[(ngModel)]="selectedEntity.duracion">
			</div>
		</div>
		<div class="form-group row">
			<ng-container *ngIf="isContratado(); then prHabilitado else prNoHabilitado"></ng-container>
			<ng-template #prHabilitado >
				<label class="col-sm-3 col-form-label">Contratado</label>
				<div class="col-sm-8">
					<span class="form-control-plaintext" name="customControlValidation1"><i class="fa fa-check-square-o"></i></span>
				</div>
			</ng-template>
			<ng-template #prNoHabilitado >
				<label class="col-sm-3 col-form-label">No contratado</label>
				<div class="col-sm-8">
					<span class="form-control-plaintext" name="customControlValidation1"><i class="fa fa-square-o"></i></span>
				</div>
			</ng-template>
		</div>
		<div class="col-sm-4">
			<button type="button" [disabled]="isContratado() || mainForm.invalid" class="btn btn-primary" (click)="onContratar()">Contratar</button>
		</div>
		<br>
	</div>
</form>
