<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{selectedEntity.encuestatipo}}</h4>
                <h6 class="card-subtitle">{{selectedEntity.encuesta}}</h6>
                <form class="m-t-30">
                    <div class="form-group">
                        <div [hidden]="!isCalificacion()">
                            <ngb-rating [(rate)]="newEncuesta.calificacion">
                                <ng-template let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                        <div [hidden]="!isObservaciones()">
                            <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: La sesión fué extraordinaria..."
                                name="observaciones"
                                [(ngModel)]="newEncuesta.observaciones"
                                #observaciones="ngModel">
                            </textarea>
                        </div>
                        <div class="col-sm-4" [hidden]="!isBooleano()">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                    [checked]="isBooleanoTrue()"
                                    (click)="setBooleano(1)"
                                    value="1">
                                <label class="custom-control-label" for="customRadio1">{{ selectedEntity.booleanoverdadero }}</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                    [checked]="isBooleanoFalse()"
                                    (click)="setBooleano(0)"
                                    value="0">
                                <label class="custom-control-label" for="customRadio2">{{ selectedEntity.booleanofalso }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                        <button type="button" class="btn btn-dark">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
