<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="form-group col-md-6">
                <label class="control-label">Título</label>
                <input type="text" class="form-control" placeholder="Título del banner" 
                    name="titulo"
                    [(ngModel)]="selectedEntity.titulo"
                    #titulo="ngModel">
                <small class="form-control-feedback"> Utilizado para idenificar al banner. </small>
            </div>
            <div class="form-group col-md-6"></div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                <label class="control-label">Fecha de inicio</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fecInicio"
                        required
                        [(ngModel)]="fecInicio" ngbDatepicker #d="ngbDatepicker"
                        [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha inicio es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': e.errors && e.touched}">
                <label class="control-label">Fecha de fin</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fecFin"
                        required
                        [(ngModel)]="fecFin" ngbDatepicker #e="ngbDatepicker"
                        [ngbTooltip]="(e.errors && (e.dirty || e.touched)) ? 'La fecha fin es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Imagen</label><br />
                <ng-container *ngIf="hasEntity();">
                    <a (click)="file1.click()" >
                        <img class="img-thumbnail dni" id="imagenurl" alt="Imagen no disponible" 
                            [src]="isSeted(selectedEntity.imagenurl) ? selectedEntity.imagenurl : 'https://placehold.it/400x400'" 
                            alt="Imagen no disponible" height="192" width="192">
                    </a><br />
                    <div id="upload_button">
                        <label>
                            <input type="file" 
                                ngf-select 
                                required 
                                (change)="fileChangeImagen($event)"
                                placeholder="Subir imagen"
                                accept=".png,.jpg"
                                #file1>
                            <span class="btn btn-primary">Seleccionar Imagen</span>
                        </label>
                    </div>
                </ng-container>
            </div>
            <div class="form-group col-md-6"></div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <button type="button" [disabled]="!hasEntity()" class="btn btn-success m-r-10" (click)="onEliminar()">Eliminar</button>
                <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</form>