<div class="card-group m-b-30">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                    <h3 class="">{{ selectedEntity.total }}</h3>
                    <h6 class="card-subtitle">Total de profesionales registrados</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="info" [value]="100"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
                    <h3 class="">{{ selectedEntity.consesiones }}</h3>
                    <h6 class="card-subtitle">Con sesiones contratadas</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="success" [value]="getPConSesiones()"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
                    <h3 class="">{{ selectedEntity.sinsesiones }}</h3>
                    <h6 class="card-subtitle">Sin sesiones contratadas</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="primary" [value]="getPSinSesiones()"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
                    <h3 class="">{{ selectedEntity.noaprobados }}</h3>
                    <h6 class="card-subtitle">Sin aprobar</h6></div>
                <div class="col-12">
                    <ngb-progressbar [showValue]="false" type="warning" [value]="getPNoAprobados()"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>