<label class="col-form-label"><b>Título:</b></label>
<h6> {{ selectedEntity.titulo }} </h6>

<label class="col-form-label"><b>Especialidades:</b></label>
<h6> {{ especialidades }} </h6>

<label class="col-form-label"><b>Microbío:</b></label>
<h6> {{ selectedEntity.microbiografia }} </h6>

<label class="col-form-label"><b>Credenciales:</b></label>
<h6>{{selectedEntity.credenciales}}</h6>
