<div class="row">
    <div class="col-12">
        <h3> Bienvenido/a {{selectedEntity.usuario}} </h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <app-regresivapac></app-regresivapac>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-banners></app-banners>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-ultimas></app-ultimas>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-resumenespac></app-resumenespac>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <app-mensajespac></app-mensajespac>
    </div>
</div>