:host /deep/ .header_subrayed tr ng2-smart-titles {
    border-bottom: 2px solid #AF9CDD;
}

:host /deep/ ng2-smart-table-title > a { 
    color: #AF9CDD;
}

:host /deep/ ng2-smart-table tbody > tr > th {
    border-bottom: 2px solid #AF9CDD;
}

:host {
  /deep/ ng2-smart-table {

    table{
      tr {
        th{
          border-bottom: 2px solid #AF9CDD;
        }
      }
    }
  }
} 

:host {
  /deep/ ng2-smart-table {

    table{
      tr {
        td {
            color: #AF9CDD;
        }
      }
    }
  }
}

h3 {
  color: #959595 !important;
  font-family: Quicksand !important;
  font-weight: 600 !important;
}

hr {
  border-color: #AF9CDD;
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.session{
  color: AF9CDD;
  font-family: Quicksand;
}