<div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-body">
            <form role="form" #mainForm="ngForm">
                <h4>Filtros</h4>
                <hr>
                <div class="row">
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': di.errors && di.touched}">
                        <label class="control-label">Fecha inicial</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fechaini"
                                (ngModelChange)="changeInicio($event)"
                                required
                                [minDate]="minDate"
                                [(ngModel)]="fecInicial" ngbDatepicker #di="ngbDatepicker"
                                [ngbTooltip]="(di.errors && (di.dirty || di.touched)) ? 'La fecha inicial es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="di.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': df.errors && df.touched}">
                        <label class="control-label">Fecha final</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fechafin"
                                required
                                [minDate]="minDateFin"
                                [(ngModel)]="fecFinal" ngbDatepicker #df="ngbDatepicker"
                                [ngbTooltip]="(df.errors && (df.dirty || df.touched)) ? 'La fecha final es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onGenerar()">Generar</button>
                </div>
            </form>
            <h4 class="card-title">Resultados</h4>
            <hr>
            <div class="form-group m-t-40 row">
                <label class="col-2 col-form-label">Cantidad de sesiones</label>
                <div class="col-10">
                    <input type="text" class="form-control" 
                        name="titulo"
                        [readonly]="true"
                        required
                        [(ngModel)]="cantidad">
                </div>
            </div>
            <div class="form-group m-t-40 row">
                <label class="col-2 col-form-label">Monto recaudado</label>
                <div class="col-10">
                    <input type="text" class="form-control" 
                        name="titulo"
                        [readonly]="true"
                        required
                        [(ngModel)]="monto">
                </div>
            </div>
        </div>
    </div>
</div>
