:host /deep/ ng2-smart-table { 
    font-size: 18px; 
    cursor: pointer;
}

:host /deep/ .cell_right {
    width:100%;
    height: 100%;
    text-align: right;
}

:host /deep/ .cell_center {
    width:100%;
    height: 100%;
    text-align: center;
}
