<div class="card-group m-b-30">
    <div class="card" *ngIf="hasAusencias()">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                    <h3 class="">{{ selectedEntity.ausencias }}</h3>
                    <h6 class="card-subtitle">Tus ausencias</h6></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card" *ngIf="hasIncompleto()">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-success"></i></h2>
                    <h3 class="">Incompleto</h3>
                    <h6 class="card-subtitle">Estado del perfil profesional</h6></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card" *ngIf="hasPlazo()">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
                    <h3 class="">{{ selectedEntity.plazo }}</h3>
                    <h6 class="card-subtitle">Días para que la cuenta quede inhabilitada</h6></div>
            </div>
        </div>
    </div>
</div>