.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    
                    padding: 2px, 10px 2px 10px;
                    display: block;
                }
            }
        }
    }
}

.line-separator{
    // height: 1px;
    border: 1px solid #E8E8E8;
    opacity: 0.8;
    background-color: #FFFFFF; 
    // border: 1px solid #000000;
    margin-left: 15%;
    margin-right: 15%;
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
  padding-left: 15%;
}