<div>
    <a class="navbar-brand" href="javascript:void(0)">
        <!-- Logo icon --><b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text --><span>
            <!-- dark Logo text -->
            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
            <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span>
    </a>
</div>
<!-- User profile -->
<div class="user-profile">
    <!-- User profile image -->
    <div class="profile-img"> 
        <!-- <img src="assets/images/users/profile.png" alt="user" /> -->
        <ng-container *ngIf="hasImage(); then prFoto else prAvatar"></ng-container>
        <ng-template #prFoto >
            <img [src]="selectedEntity.fotourl != null ? selectedEntity.fotourl : 'assets/images/users/5.jpg'" class="img-circle" width="150" />
        </ng-template>
        <ng-template #prAvatar >
            <ngx-avatar name="{{nombrePerfil}}" size="55" class="img-circle" ></ngx-avatar>
        </ng-template>

        <!-- this is blinking heartbit-->
        <div class="notify setpos"> 
            <span class="heartbit"></span> 
            <span class="point"></span> 
        </div>
    </div>
    <!-- User profile text-->
    <div class="profile-text">
        <h5 class="text-themecolor">{{nombrePerfil}}</h5>
        <!-- <a ngbDropdownToggle ngbDropdown href="javascript:void(0)" class="u-dropdown"><i class="mdi mdi-settings"></i>
            <div class="dropdown-menu animated flipInY" ngbDropdownMenu>
                <a [routerLink]="['/perfilprofesional']" class="dropdown-item"><i class="ti-user"></i> Mi Perfil</a>
                <a href="#" class="dropdown-item"><i class="ti-email"></i> Mensajes</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item"><i class="ti-settings"></i> Configuración</a>
                <div class="dropdown-divider"></div>
                <a (click)="onLogout()" class="dropdown-item"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
            </div>
        </a>
        <a href="#" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <a href="#" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> -->
    </div>
</div>
<!-- End User profile text-->
<!-- <hr> -->
<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- First level menu -->
        <li [class.active]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems" [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null" [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}
                    <span *ngIf="sidebarnavItem.label != '' " [ngClass]="[sidebarnavItem.labelClass]">{{sidebarnavItem.label}}</span>                    
                </span>    
            </a>
            <div class="line-separator"></div>
            <!-- Second level menu -->
            <ul class="collapse" *ngIf="sidebarnavItem.submenu.length > 0" [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
                <li *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu" [class.active]="showSubMenu === sidebarnavSubItem.title" [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'">
                    <a [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]" [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'" [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;" (click)="addActiveClass(sidebarnavSubItem.title)">
                        <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                            {{sidebarnavSubItem.title}}
                    </a>
                    <!-- Third level menu -->
                    <ul class="collapse" *ngIf="sidebarnavSubItem.submenu.length > 0" [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                        <li *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu" routerLinkActive="active" [ngClass]="[sidebarnavSubsubItem.class]">
                            <a [routerLink]="[sidebarnavSubsubItem.path]" *ngIf="!sidebarnavSubsubItem.extralink;" [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'">
                                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                                    {{sidebarnavSubsubItem.title}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End Sidebar navigation -->
