<div class="card border-dark mb-3">
  <div class="card-header">
    <h1>Primeros Pasos</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let instance of dataPrimeros">
        <h4 class="card-title">{{ instance.titulo }}</h4>
        <div class="container">
          <iframe width="560" height="315" [src]='getSafeURL(instance.url)' frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen class="video">
          </iframe>
        </div>
        <p class="card-text">{{ instance.recursos }}</p>
      </div>
    </div>
  </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header">
    <h1>Comerciales</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let instance of dataComerciales">
        <h4 class="card-title">{{ instance.titulo }}</h4>
        <div class="container">
          <ng-container *ngIf="instance.video == 1; then prVideo else prPdf"></ng-container>
          <ng-template #prVideo>
            <iframe width="560" height="315" [src]='getSafeURL(instance.url)' frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen class="video">
            </iframe>
          </ng-template>
          <ng-template #prPdf>
            <object [data]='getSafeURL(instance.url)' type="application/pdf" class="video">
              <embed [src]='getSafeURL(instance.url)' type="application/pdf" />
            </object>
          </ng-template>
        </div>

        <a [hidden]='instance.video == 1' [routerLink]='getSafeURL(instance.url)' class="text-dark pull-right" download>
          <i class="fa fa-download text-primary" aria-hidden="true"></i>
        </a>
        <p class="card-text">{{ instance.recursos }}</p>
      </div>
    </div>
  </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header">
    <h1>Recursos Técnicos</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let instance of dataTecnicos">
        <h4 class="card-title">{{ instance.titulo }}</h4>
        <div class="container">
          <ng-container *ngIf="instance.video == 1; then prVideo else prPdf"></ng-container>
          <ng-template #prVideo>
            <iframe width="560" height="315" [src]='getSafeURL(instance.url)' frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen class="video">
            </iframe>
          </ng-template>
          <ng-template #prPdf>
            <object [data]='getSafeURL(instance.url)' type="application/pdf" class="video">
              <embed [src]='getSafeURL(instance.url)' type="application/pdf" />
            </object>
          </ng-template>
        </div>

        <a [hidden]='instance.video == 1' [routerLink]='getSafeURL(instance.url)' class="text-dark pull-right" download>
          <i class="fa fa-download text-primary" aria-hidden="true"></i>
        </a>
        <p class="card-text">{{ instance.recursos }}</p>
      </div>
    </div>
  </div>
</div>
