<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Usuario</label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" 
                    name="usuario"
                    [readonly]="true"
                    [(ngModel)]="selectedEntity.usuario">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Primera sesión </label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext"  
                    name="primera"
                    [readonly]="true"
                    [(ngModel)]="fecPrimera">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Última sesión </label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" 
                    name="ultima"
                    [readonly]="true"
                    [(ngModel)]="fecUltima">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cantidad de sesiones </label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext"  
                    name="cantidad"
                    [readonly]="true"
                    [(ngModel)]="selectedEntity.cantidad">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Historial clínico</label>
            <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Presenta desórdenes alimenticios..."
                (focusout)="focusOutFunction()"
                name="microbiografia"
                [(ngModel)]="selectedEntity.historialclinico"
                #historialclinico="ngModel">
            </textarea>
        </div>
    </div>
</form>