
<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center"> 
                    <ng-container *ngIf="hasImage(); then prFoto else prAvatar"></ng-container>
                    <ng-template #prFoto >
                        <img [src]="selectedEntity.fotourl != null ? selectedEntity.fotourl : 'assets/images/users/5.jpg'" alt="user" class="img-circle" width="150"/>
                    </ng-template>
                    <ng-template #prAvatar >
                        <ngx-avatar name="{{selectedEntity.nombre}}" size="120" alt="user" class="img-circle"></ngx-avatar>
                    </ng-template>
                    <h4 class="card-title m-t-10">{{selectedEntity.nombre}} {{selectedEntity.apellido}}</h4>
                    <h6 class="card-subtitle">{{selectedEntity.titulo}}</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link" (click)="solicitarSesion()"> <font class="font-small">Solicitar turno</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="mdi mdi-cash-usd"></i> <font class="font-medium">{{selectedEntity.precio}}</font></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ngb-tabset>
                <ngb-tab >
                    <ng-template ngbTabTitle><b>Perfil</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-perfil></app-perfil>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Opiniones</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-opiniones></app-opiniones>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Mensajes</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-mensajes></app-mensajes>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
