<div class="card border-dark mb-3">
    <div class="card-body">
        <form role="form" #mainForm="ngForm">
            <div class="form-body">
                <div class="row p-t-20">
                    <div class="form-group col-md-6">
                    <label class="control-label">Tipo</label>
                        <select class="form-control"
                            [ngbTooltip]="(idencuestatipo.errors && idencuestatipo.touched) ? 'Debe seleccionar su tipo.' : ''"
                            required
                            name="idencuestatipo"
                            [(ngModel)]="selectedEntity.idencuestatipo"
                            #idencuestatipo="ngModel">
                            <option *ngFor="let instance of dataEncuestasTipos" [value]="instance.id" [selected]="instance.id === selectedEntity.idencuestatipo">{{instance.encuestatipo}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Encuesta</label>
                        <textarea class="form-control"
                            rows="3"
                            name="encuesta"
                            [(ngModel)]="selectedEntity.encuesta"
                            #encuesta="ngModel">
                        </textarea>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                        <label class="control-label">Fecha de inicio</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fecInicio"
                                required
                                [(ngModel)]="fecInicio" ngbDatepicker #d="ngbDatepicker"
                                [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha inicio es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-danger': e.errors && e.touched}">
                        <label class="control-label">Fecha de fin</label>
                        <div class="input-group">
                            <input class="form-control"
                                name="fecFin"
                                required
                                [(ngModel)]="fecFin" ngbDatepicker #e="ngbDatepicker"
                                [ngbTooltip]="(e.errors && (e.dirty || e.touched)) ? 'La fecha fin es obligatoria.' : ''">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                                    <i class="ti-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" 
                                id="checkbox1" 
                                [checked]="apacientes" 
                                (change)="apacientes = !apacientes">
                            <label class="custom-control-label" for="checkbox1">A pacientes</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" 
                                id="checkbox2" 
                                [checked]="aprofesionales" 
                                (change)="aprofesionales = !aprofesionales">
                            <label class="custom-control-label" for="checkbox2">A profesionales</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6" *ngIf="isBooleano();">
                        <label class="control-label">Valor verdadero</label>
                        <input type="text" class="form-control" placeholder="Masculino, verdadero, etc."
                            name="booleanoverdadero"
                            id="verdadelo"
                            [(ngModel)]="selectedEntity.booleanoverdadero" 
                            #booleanoverdadero="ngModel">
                        <small class="form-control-feedback"> Descripción para el valor verdadero.</small> 
                    </div>
                    <div class="form-group col-md-6" *ngIf="isBooleano();">
                        <label class="control-label">Valor verdadero</label>
                        <input type="text" class="form-control" placeholder="Femenino, falso, etc."
                            name="booleanofalso"
                            id="falso"
                            [(ngModel)]="selectedEntity.booleanofalso" 
                            #booleanoverdadero="ngModel">
                        <small class="form-control-feedback"> Descripción para el valor  falso.</small> 
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                        <button type="button" [disabled]="!hasEntity()" class="btn btn-success m-r-10" (click)="onEliminar()">Eliminar</button>
                        <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
                    </div>
                </div> 
            </div>
        </form>
    </div> 
</div>