<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                <label class="control-label">Desde</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaDesde"
                        required
                        [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker"
                        [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha desde es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': h.errors && h.touched}">
                <label class="control-label">Hasta</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaHasta"
                        required
                        [(ngModel)]="fecHasta" ngbDatepicker #h="ngbDatepicker"
                        [ngbTooltip]="(h.errors && (h.dirty || h.touched)) ? 'La fecha hasta es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-success m-r-10" (click)="obtener()">Obtener</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body" *ngIf="dataReport">
                <h4 class="card-title">Rendimiento general</h4>
                <h6 class="card-subtitle">Indica la relación dentro del rango de fechas entre rango de precios y cantidad de sesiones </h6>
                <div style="display: block;">
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions" 
                        [legend]="barChartLegend" 
                        [chartType]="barChartType" 
                        [colors]="barChartColors" 
                        (chartHover)="chartHovered($event)" 
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div> 
            </div>
        </div>
    </div>
</div>