
<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center">
                    <ng-container *ngIf="hasImage(); then prFoto else prAvatar"></ng-container>
                    <ng-template #prFoto >
                        <img [src]="selectedEntity.fotourl != null ? selectedEntity.fotourl : 'assets/images/users/5.jpg'" alt="user" class="img-circle" width="150"/>
                    </ng-template>
                    <ng-template #prAvatar >
                        <ngx-avatar name="{{selectedEntity.nombre}}" size="120" alt="user" class="img-circle"></ngx-avatar>
                    </ng-template>
                    <h4 class="card-title m-t-10">{{selectedEntity.nombre}} {{selectedEntity.apellido}}</h4>
                    <h6 class="card-subtitle">{{selectedEntity.titulo}}</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="mdi mdi-account-multiple"></i> <font class="font-medium">{{selectedEntity.pacientes}}</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="mdi mdi-cash-usd"></i> <font class="font-medium">{{selectedEntity.precio}}</font></a></div>
                    </div>
                </div>
            </div>
            <div>
                <hr> 
            </div>
            <div class="card-body"> <small class="text-muted">Correo Electrónico </small>
                <h6>{{selectedEntity.email}}</h6> <small class="text-muted p-t-30 db">DNI</small>
                <h6>{{selectedEntity.dni}}</h6> <small class="text-muted p-t-30 db">Ubicación</small>
                <h6>{{selectedEntity.provincia}}, {{selectedEntity.pais}}</h6>
                <div class="map-box">
                    <!-- <iframe [src]="getMap()" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                    <!-- <app-map [urlMap]="urlMap"></app-map> -->
                </div>
            </div>
            <div>
                <hr> 
            </div>
            <button type="button" class="btn btn-success" (click)="aprobar()">Aprobar</button>
            <div class="col-sm-4">
                <label class="control-label">Mostrar en búsquedas</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                        [checked]="isBloqueado(0)"
                        (click)="setBloqueado(0)"
                        value="0">
                    <label class="custom-control-label" for="customRadio2">Activo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                        [checked]="isBloqueado(1)"
                        (click)="setBloqueado(1)"
                        value="2">
                    <label class="custom-control-label" for="customRadio1">Bloqueado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ngb-tabset>
                <ngb-tab >
                    <ng-template ngbTabTitle><b>Datos Filiatorios</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-filiatorios></app-filiatorios>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Documentación</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-documentacion></app-documentacion>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Sanciones</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-sanciones></app-sanciones>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Mensajes</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-mensajes></app-mensajes>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
