<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Seleccione el tipo de reporte</h4>
                <div class="form-group col-lg-4">
                    <label class="control-label">Tipo de reporte</label>
                    <select class="form-control custom-select"
                        [ngbTooltip]="(idtiporeporte.errors && idtiporeporte.touched) ? 'Debe seleccionar un tipo de reporte.' : ''"
                        required
                        name="idtiporeporte"
                        [(ngModel)]="selectedReporte"
                        #idtiporeporte="ngModel">
                        <option *ngFor="let instance of dataTiposReportes" [value]="instance.id" [selected]="instance.id === selectedReporte">{{instance.tiporeporte}}</option>
                    </select>
                    <small class="form-control-feedback"> Seleccione un tipo de reporte. </small>
                </div>
            </div>
        </div>
        <div *ngIf=isProfesionales()>
            <app-profesionales></app-profesionales>
        </div>
        <div *ngIf=isPremiums()>
            <app-premiums></app-premiums>
        </div>
        <div *ngIf=isBasicos()>
            <app-basicos></app-basicos>
        </div>
        <div *ngIf=isRendimientoGral()>
            <app-rendimientogeneral></app-rendimientogeneral>
        </div>
        <div *ngIf=isRendimientoProfesional()>
            <app-rendimientoprofesional></app-rendimientoprofesional>
        </div>
        <div *ngIf=isHorasOfrecidas()>
            <app-horasofrecidas></app-horasofrecidas>
        </div>
    </div>
</div>
