<div class="card-body">
    <div class="profiletimeline">
        <div *ngFor="let opinion of opinionesRecientes">
            <div class="sl-left"> 
                <ngx-avatar name="{{opinion.usuario}}" size="40" alt="user" class="img-circle"></ngx-avatar> 
            </div>
            <div><a href="#" class="link">{{opinion.usuario}}</a>&nbsp;<span class="sl-date">Hace {{ getSinceDate(opinion.fecfin) }}</span>
                <p>{{opinion.observaciones}} </p>
                <a href="#"> {{opinion.fecfinstr}}</a>
            </div>
        </div>
    </div>
</div>