.main {
    position: relative;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top !important;
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline;
    // margin-bottom: 1%;
    max-height: min-content !important;
    // height: -moz-max-content !important;
}

.logo {
    padding-left: 5%;
    width: 70%;
    height: auto;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50%;
    height: auto;
  }
}

.navbar-nav .ml-auto{
    float: right;
}

.navbar-blue {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
}

.site-name {
    color: white;
}

.navbar .navbar-nav li {
    padding: 0px 0px;
    margin: 7px;
}

.navbar .navbar-nav li a {
    color: white;
    font-size: 16px;
    padding: 13px 0px;
}

.custom-toggler.navbar-toggler {
    border-color: transparent; // rgb(255,255,255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.item1 {
    // margin: 0px 8px 0px 8px;
    // padding: 0px 6px 0px 6px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 1px solid #ffffff !important;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    font-size: 16px;
    font-weight: 600 !important;
}

.item2 {
    // margin: 0px 8px 0px 8px;
    // padding: 0px 6px 0px 6px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 0px solid #ffffff !important;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    font-weight: 600 !important;
    font-size: 16px;
    background-color: #00DBB3 !important;
}