<div class="main">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-md navbar-blue">
                    <a href="https://clickterapia.com/sitio">
                        <img src="https://clickterapia.com/sitio/wp-content/uploads/2019/07/logo.svg" class="logo" alt="">
                    </a>
                    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                        (click)="isCollapsed= !isCollapsed">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- The menu items -->
                    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
                    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-link">
                                <a class="text-center" href="https://clickterapia.com/admin/#/extbuscarprofesional">Buscar Terapeutas</a>
                            </li>
                            <li class="navbar-link">
                                <a class="text-center" href="https://clickterapia.com/sitio/faq">FAQ</a>
                            </li>
                            <li>
                                <a class="item1" href="https://clickterapia.com/admin/#/authentication/login-pac">INGRESAR</a>
                            </li>
                            <li>
                                <a class="item2" href="https://clickterapia.com/admin/#/authentication/signup-pac">REGISTRATE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>