.container {
  background-color: white;
  border-radius: 25px !important;  
  padding: 30px 15px;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  margin-top: 5%;
  margin-bottom: 1%;
}

.title-centered {
    text-align: center;
    font-family: "QuicksandBold";
    font-size: 1.5em;
    font-weight: 600;
    color: #B1B1B1;
}

.subtitle {
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: 300;
    color: #909090;
    margin-top: 26px;
    margin-bottom: 26px;
}

hr.line-degree {
  background: linear-gradient(to right, #E3EFFD, #ABF2E5);
  height: 2px;
}

.cont {
  padding-left: 16px;
  padding-right: 16px;
}

.cont-2 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.ingresar-txt .form-control {
    border-radius: 30px;
    background-color: #EEEEEE;
    color: #000000 !important;
    font-family: "Quicksand";
}

input {
    border-radius: 26px;
    background-color: #EEEEEE;
	font-size: 1rem;
}

.text-olvide {
	color: #C5B3E3;
    font-family: 'QuicksandLight', sans-serif;
	text-decoration: underline;
}

.ingresar {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(90deg, #a6d1fc 0%, #01dcb3 100%);
  border-radius: 30px 30px 30px 30px;
  padding: 8px 80px 8px 80px;
}

.ingresar-container {
    margin-bottom: 0;
}

.social {
    margin-bottom: 10px !important;
}

.sin_registros {
    color: #808080;
    font-family: 'QuicksandBold', sans-serif;
	margin-bottom: 10px;
}

.registrar {
    color: #2CDFBD;
}

.registrar:hover {
    color: #A7B9F3;
}

.registrar-btn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #00DAB1;
    background-color: transparent;
	border-color: #00DAB1;
    border-radius: 30px 30px 30px 30px;
    padding: 6px 10px 6px 10px;
	margin-top: 10px;
	border-style: solid;
  	border-width: 1px;
}

@media screen and (max-width: 800px) {
  .login-register {
    background-position: right top;
  }
}

/*******************/
/* custom checkbox */
/*******************/
.control {
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    // display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 4px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #cccccc;
}

.control input:checked~.control_indicator {
    background: #fff;
}

// .control:hover input:not([disabled]):checked ~ .control_indicator,
// .control input:checked:focus ~ .control_indicator {
//     background: #0e6647d;
// }

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.relleno {
    height: 20px;
}