<div class="row">
    <div class="col-12 m-t-30">
        <div class="card">
            <div class="card-body collapse show">
                <ng-container *ngIf="hasSession(); then has else hasnt"></ng-container>
                <ng-template #has >
                    <h4 class="card-title">Detalles de sesión </h4>
                    <p class="card-text"><strong>Fecha y hora de inicio:</strong> {{ selectedEntity.fecinicio | date:'dd/MM/yyyy HH:mm' }}.</p>
                    <p class="card-text"><strong>Paciente:</strong> {{ selectedEntity.usuario }}.</p>
                    <div class="form-group">
                        <label class="control-label">Historial clínico</label>
                        <textarea class="form-control" maxlength=500 rows=5 placeholder="Ej.: Presenta desórdenes alimenticios..."
                            (focusout)="focusOutFunction()"
                            name="microbiografia"
                            [(ngModel)]="selectedPaciente.historialclinico"
                            #historialclinico="ngModel">
                        </textarea>
                    </div>
                </ng-template>
                <ng-template #hasnt >
                    <h4 class="card-title">No hay sesiones programadas </h4>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<div class="row" [hidden]="!hasSession()">
    <div class="col-12">
        <div class="card">
            <div class="card-body collapse show">
                <div class="container-fluid">
                    <h4>Sesión terapéutica</h4>
                    <ng-container *ngIf="!hasStarted(); then notStarted else started"></ng-container>
                    <ng-template #notStarted> La sesión inicia en 
                        <countdown [config]="config" (finished)="onStartSesion()">
                            <span class="time">$!d! : </span>
                            <span class="time">$!h! : </span>
                            <span class="time">$!m! : </span>
                            <span class="time">$!s!</span>
                        </countdown>
                    </ng-template>
                    <ng-template #started>
                        <!-- <app-proconferencia [session]="session"></app-proconferencia> -->
                        <!-- <iframe [src]="sesionUrl"
                            width=800 height=640 allow="microphone; camera">
                        </iframe> -->
                        <iframe 
                            src="https://tokbox.com/embed/embed/ot-embed.js?embedId=1e1c2797-966f-4225-9c7d-99b00f574633&room=DEFAULT_ROOM&iframe=true" 
                            width=800 height=640 
                            scrolling="auto" 
                            allow="microphone; camera" >
                        </iframe>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="finished()">
    <div class="col-12">
        <div class="card">
            <div class="card-body collapse show">
               <div class="container-fluid">
                    <app-finalizar [sesion]="selectedEntity"></app-finalizar>
                </div>
            </div>
        </div>
    </div>
</div>
