<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="form-group col-md-6">
                <label class="control-label">DNI</label><br />
                <a (click)="file1.click()">
                    <img class="img-thumbnail dni" id="dniurl" alt="Imagen no disponible" 
                        [src]="isSeted(selectedEntity.dniurl) ? selectedEntity.dniurl : 'https://placehold.it/400x400'" 
                        alt="Imagen no disponible" height="192" width="192">
                </a><br />
                <div id="upload_button">
                    <label>
                        <input type="file" 
                            ngf-select 
                            required 
                            (change)="fileChangeDni($event)"
                            placeholder="Subir DNI"
                            accept=".png,.jpg"
                            #file1>
                        <span class="btn btn-primary">Seleccionar Imagen</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Título Profesional</label>
                <br />
                <a (click)="file2.click()">
                    <img class="img-thumbnail titulo" id="titulourl" alt="Imagen no disponible" 
                        [src]="isSeted(selectedEntity.titulourl) ? selectedEntity.titulourl : 'https://placehold.it/400x400'" 
                        height="192" width="192">
                </a>
                <br />
                <div id="upload_button">
                    <label>
                        <input type="file" 
                            ngf-select 
                            required 
                            (change)="fileChangeTitulo($event)"
                            placeholder="Subir Título"
                            accept=".png,.jpg"
                            #file2>
                        <span class="btn btn-primary">Seleccionar Imagen</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Matrícula</label>
                <br />
                <a (click)="file3.click()">
                    <img class="img-thumbnail matricula" id="matriculaurl" alt="Imagen no disponible"
                        [src]="isSeted(selectedEntity.matriculaurl) ? selectedEntity.matriculaurl : 'https://placehold.it/400x400'"
                        height="192" width="192">
                </a>
                <br />
                <div id="upload_button">
                    <label>
                        <input type="file" 
                            ngf-select 
                            required 
                            (change)="fileChangeMatricula($event)"
                            placeholder="Subir Matrícula"
                            accept=".png,.jpg"
                            #file3>
                        <span class="btn btn-primary">Seleccionar Imagen</span>
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button type="button" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
            <button type="button" class="btn btn-dark">Cancelar</button>
        </div>
    </div>
</form>