#upload_button {
    display: inline-block;
  }
  #upload_button input[type=file] {
    display:none;
  }
// .my-drop-zone { 
//     border: dotted 2px #dadada; 
// }
// .nv-file-over { border: dotted 2px red; } /* Default class applied to drop zones on over */
// .another-file-over-class { border: dotted 2px green; }
