
<h4>Chat</h4>
<div class="compose">
    <!-- <div class="chats">
        <p *ngFor="let chat of chatArray">
            <strong>{{chat.username}}: </strong> {{chat.text}}</p>
    </div>
    <input type="text" [(ngModel)]="text"> -->
<button (click)="addChat()">Send</button>
</div>
