
<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center"> 
                    <ngx-avatar name="{{selectedEntity.usuario}}" size="120" alt="user" class="img-circle"></ngx-avatar>
                    <h4 class="card-title m-t-10">{{selectedEntity.usuario}}</h4>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="mdi mdi-account-multiple"></i> <font class="font-medium">{{selectedEntity.cantidad}}</font></a></div>
                        <!-- <div class="col-4"><a href="javascript:void(0)" class="link"><i class="mdi mdi-cash-usd"></i> <font class="font-medium">{{selectedEntity.precio}}</font></a></div> -->
                    </div>
                </div>
            </div>
            <div>
                <hr> 
            </div>
            <div class="card-body"> 
                <small class="text-muted">Correo Electrónico </small>
                <h6>{{selectedEntity.email}}</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ngb-tabset class="nav nav-tabs profile-tab">
                <ngb-tab >
                    <ng-template ngbTabTitle><b>Datos Filiatorios</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-filiatorios></app-filiatorios>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset> 
        </div>
    </div>
</div>
