<div class="form-group col-md-6">
    <button type="button" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
    <button type="button" class="btn btn-dark">Cancelar</button>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate" *ngIf="testPrevBtnVisible(viewDate)">
                Anterior
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate">
                Siguiente
            </div>
        </div>
    </div>
    <div class="col-md-4 btn-group-center">
        <div class="btn-group">
            <button class="btn btn-outline-secondary" (click)="copiarSemana()">
                Copiar semana
            </button>
            <button [ngClass]="(copyEventList.length > 0) ? 'btn btn-primary' : 'btn btn-outline-secondary'" (click)="pegarSemana()">
                Pegar semana
            </button>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
</div>
<br />

<ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight"
    let-isTimeLabel="isTimeLabel">
    <div #segmentElement class="cal-hour-segment" 
        [style.height.px]="segmentHeight"
        [class.cal-hour-start]="segment.isStart" 
        [class.cal-after-hour-start]="!segment.isStart"
        [ngClass]="segment.cssClass" 
        (mousedown)="startDragToCreate(segment, $event, segmentElement)">
        <div class="cal-time" *ngIf="isTimeLabel">
            {{ segment.date | calendarDate:'weekViewHour':locale }}
        </div>
    </div>
</ng-template>

<mwl-calendar-week-view 
    [viewDate]="viewDate" 
    [locale]="'es'"
    [refresh]="refreshWeek"
    [events]="events" 
    (eventClicked)="eventClicked($event)"
    [hourSegments]="1"
    [hourSegmentTemplate]="weekViewHourSegmentTemplate">
</mwl-calendar-week-view>
