<footer class="page-footer font-small blue pt-4 footer-section">
    <div class="container-fluid text-center text-md-left">
      <div class="row footer-first-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row justify-content-center">
              <div class="col-sm-1">
                <div class="icon-container">
                  <img src="assets/images/icon/icono-top-footer.svg">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="advertencia">
                    <div><p> Si estás atravesando una emergencia, <strong>no utilices nuestros servicios.</strong> <br>
                      Contacta a un centro o línea telefónica especializado haciendo <strong>AQUÍ</strong>.<br>
                      ClickTerapia no ofrece servicio de emergencia.</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row footer-second-row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="logo-container">
            <img src="assets/images/icon/logo.svg">
          </div>
        </div>
        <div class="col-md-3 justify-content-center align-self-center">
          <div class="input-group">
            <input type="email" class="form-control search"
                  name="mail"
                  placeholder="DEJANOS TU E-MAIL AQUI"
                  [(ngModel)]="mail">
                  <span class="input-group-btn">
                      <button class="search-btn" (click)="onEnviar()">Enviar</button>
                  </span>
            </div>
        </div>
        <div class="col-md-5 justify-content-center align-self-center">
            <ul class="foot-list">
              <li class="navbar-link">
                  <a class="text-center" href="javascript:void(0)" [routerLink]="['/extbuscarprofesional']">BUSCAR TERAPEUTA</a>
              </li>
              <li class="navbar-link">
                  <a class="text-center" href="javascript:void(0)">FAQ</a>
              </li>
              <li>
                  <a class="text-center" href="javascript:void(0)" [routerLink]="['/authentication/login-pac']">INGRESAR</a>
              </li>
              <li>
                  <a class="text-center" href="javascript:void(0)" [routerLink]="['/authentication/signup-pac']">INGRESAR</a>
              </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </footer>
