
.footer-section {
  position: sticky;
}

.container-fluid {
    padding: 0;
}

.footer-first-row {
    background-color: #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-container{
    box-sizing: border-box;
}

.icon-container img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
  .icon-container img {
    width: 20%;
  }
}

.advertencia {
    color: #6ADFC9;
    font-size: 1em;
    font-family: 'QuicksandLight', sans-serif;
    text-align: left;
}

.advertencia strong{
    font-family: 'QuicksandBold', sans-serif;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .advertencia {
    padding: 2%;
  }
}

.footer-second-row {
    background-color: #666666;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo-container img{
    // width: 35%;
}

@media only screen and (max-width: 600px) {
  .logo-container img {
    width: 50%;
  }
  .logo-container {
    scroll-margin-bottom: 1%;
  }
}

.search-group {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.search {
    border-radius: 25px 0px 0px 25px;
    border-color: #DCDCDC;
    margin-left: 60px;
    padding-left: 12%;
}

@media only screen and (max-width: 600px) {
  .search {
    width: 50%;
    margin-left: 5%;
    margin-right: auto;
  }
}

.search-btn {
    background-color: #00DDB4;
    color: white;
    border-radius: 0px 25px 25px 0px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .foot-list {
    display: none;
  }
}

ul.foot-list li {
    color: white;
    display:inline;
    padding-right: 10px;
}

.text-center {
    text-align: center !important;
    color: white;
    font-family: 'QuicksandLight';
}

.item1 {
    // margin: 0px 8px 0px 8px;
    // padding: 0px 6px 0px 6px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: 1px solid #ffffff !important;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    font-size: 16px;
    font-weight: 600 !important;
    color: #ffffff;
}

.item2 {
    // margin: 0px 8px 0px 8px;
    // padding: 0px 6px 0px 6px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: 0px solid #ffffff !important;
    -webkit-transition: all 400ms;
    transition: width all 400ms;
    font-weight: 600 !important;
    font-size: 16px;
    background-color: #00DBB3 !important;
    color: #ffffff;
}