<app-topbar></app-topbar>
<div class="background-image">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 background-selection">
            <div class="titulo">Estos <strong>profesionales</strong><br> te pueden ayudar</div>
            <div class="subtitulo">Buscamos y seleccionamos a los mejores psicólogos en línea para tí.</div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xlg-2 col-md-4 filter-background">
            <div class="section-label">Filtros</div>
            <div class="input-group">
                <input type="text" class="form-control search"
                    (change)="onChange()"
                    name="nombre"
                    [(ngModel)]="nombre">
                    <span class="input-group-btn">
                        <button class="search-btn" (click)="onChange()"><i class="fa fa-search"></i></button>
                    </span>            
            </div>
            <div class="section-label">Genero</div>
            <label class="container-ckbx">Varón
                <input type="checkbox" id="checkbox1" [checked]="varon" (change)="varon = !varon; onChange()">
                <span class="checkmark"></span>
            </label>
            <br>
            <label class="container-ckbx">Mujer
                <input type="checkbox" id="checkbox2" [checked]="mujer" (change)="mujer = !mujer; onChange()">
                <span class="checkmark"></span>
            </label>
            <div class="section-label">Disponibilidad</div>
            <small><b>{{franjaHorariaStr}}</b></small>
            <div class="form-group">
                <input type="range" class="form-control custom-range" value="0" name="range" id="range" min="0" max="4" #franja (change)="updateFranja(franja.value); onChange()">
            </div>
            <div class="section-label">Especialidad</div>
            <div class="form-group">
                <angular2-multiselect class="form-control"
                    [data]="dataEspecialidades"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    [ngModelOptions]="{standalone: true}">
                </angular2-multiselect>
            </div>
            <div class="section-label">Precio</div>
            <small><b>{{rangoPrecioStr}}</b></small>
            <div class="form-group">
                <a href="javascript:;" class="link" (click)="onRangoPrecios(0); onChange()">Cualquier precio</a><br/>
                <a href="javascript:;" class="link" (click)="onRangoPrecios(1); onChange()">{{rangoPrecio1}}</a><br/>
                <a href="javascript:;" class="link" (click)="onRangoPrecios(2); onChange()">{{rangoPrecio2}}</a><br/>
                <a href="javascript:;" class="link" (click)="onRangoPrecios(3); onChange()">{{rangoPrecio3}}</a><br/>
            </div>
            <div class="section-label">Edad</div>
            <small><b>{{rangoEdad}}</b></small>
            <div class="form-group">
                <input type="range" class="form-control custom-range" value="0" name="range" id="range" min="0" max="3" #range (change)="updateEdad(range.value); onChange()">
            </div>
        </div>
        <div class="col-lg-9 col-xlg-10 col-md-8">
            <div class="container-profs">
                <div class="row">
                    <div class="col-md-4" *ngFor="let recentcomment of recentcomments">
                        <div class="frame-prof">
                            <!-- <div class="round"> -->
                            <img class="round" src="{{recentcomment.foto}}" alt="user" width="90">
                            <!-- </div> -->
                            <div class="frame-data text-center">
                                <p class="text-center prof-nombre">{{recentcomment.nombre}}</p>
                                <p class="text-center prof-titulo">{{recentcomment.titulo}}</p>
                                <p class="text-center prof-especialidad">{{recentcomment.especialidades}}</p>
                                <hr>
                                    <div class="row">
                                        <div class="col-sm prof-info">
                                            <span class="nav-text"><i class="fa fa-pencil-square-o fa-2x"></i>&nbsp; {{recentcomment.atendidos}} personas atendidas</span>
                                        </div>
                                        <div class="col-sm prof-info">
                                            <span class="nav-text"><i class="fa fa-clock-o fa-2x"></i>&nbsp; disponible</span>
                                        </div>
                                    </div>
                                <hr>
                                <div class="prof-microbio">{{recentcomment.microbio}}</div>
                                <button class="btn agendar" (click)="verProfesional(recentcomment.id)">AGENDAR SESIÓN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footerweb></app-footerweb>