<form role="form" #mainForm="ngForm">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="form-group col-md-6">
                <label class="control-label">Profesional</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="profesional"
                    [(ngModel)]="selectedEntity.profesional"
                    #profesional="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Paciente</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="paciente"
                    [(ngModel)]="selectedEntity.paciente"
                    #paciente="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Emisor</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="emisor"
                    [(ngModel)]="selectedEntity.emisor"
                    #emisor="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Fecha de la sesión</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="fecinicio"
                    [(ngModel)]="fecInicio"
                    #fecinicio="ngModel">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Tipo de problema</label>
                <input type="text" class="form-control"
                    [readonly]="true"
                    name="problematipo"
                    [(ngModel)]="selectedEntity.problematipo"
                    #problematipo="ngModel">
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Problema</label>
                <textarea class="form-control"
                    rows="2"
                    [readonly]="true"
                    name="problema"
                    [(ngModel)]="selectedEntity.problema"
                    #problema="ngModel">
                </textarea>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Acciones</label>
                <textarea class="form-control"
                    rows="4"
                    name="acciones"
                    [(ngModel)]="selectedEntity.acciones"
                    #acciones="ngModel">
                </textarea>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Estado</label>
                <select class="form-control custom-select"
                    required
                    name="idproblemaestado"
                    [(ngModel)]="selectedEntity.idproblemaestado"
                    #idproblemaestado="ngModel">
                    <option *ngFor="let instance of dataEstados" [value]="instance.id" [selected]="instance.id === selectedEntity.idproblemaestado">{{instance.estado}}</option>
                </select>
            </div>
            <div class="form-group col-md-6"></div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <!-- <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button> -->
            </div>
        </div>
    </div>
</form>