<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6" [ngClass]="{'has-danger': d.errors && d.touched}">
                <label class="control-label">Desde</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaDesde"
                        required
                        [(ngModel)]="fecDesde" ngbDatepicker #d="ngbDatepicker"
                        [ngbTooltip]="(d.errors && (d.dirty || d.touched)) ? 'La fecha desde es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-danger': h.errors && h.touched}">
                <label class="control-label">Hasta</label>
                <div class="input-group">
                    <input class="form-control"
                        name="fechaHasta"
                        required
                        [(ngModel)]="fecHasta" ngbDatepicker #h="ngbDatepicker"
                        [ngbTooltip]="(h.errors && (h.dirty || h.touched)) ? 'La fecha hasta es obligatoria.' : ''">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
                            <i class="ti-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-success m-r-10" (click)="obtener()">Obtener</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row p-t-10 p-b-10">
            <!-- Column -->
            <div class="col p-r-0">
                <h1 class="font-light">{{ selectedEntity.total }}</h1>
                <h6 class="text-muted">Profesionales sin Premium</h6></div>
            <!-- Column -->
            <div class="col text-right align-self-center">
                <div class="display-4"><i class="mdi mdi-account-circle text-success"></i></div>
            </div>
        </div>
    </div>
</div>
            